<div class="row tarjeta-add-empleado">
    <div class="foto">
      <div class="row">
        <img src="../../../assets/tarjetas/logo-rumasa.jpg"
          style="width: 400px;height:365px;margin-top: -12%; margin-left: -20%; border-radius: 16%;" alt="">
      </div>
    </div>
    <div class="col">
      <form>
  
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Nombre</span>
          <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
            value ="{{arrayEmpresa[posicionTabla].name}}" defaultValue=null #name>
        </div>
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Dirección</span>
          <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
            value ="{{arrayEmpresa[posicionTabla].address}}" defaultValue=null #address>
        </div>
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Email</span>
          <input type="email" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
          value ="{{arrayEmpresa[posicionTabla].email}}" defaultValue=null #email>
        </div>
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Teléfono</span>
          <input type="email" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
          value ="{{arrayEmpresa[posicionTabla].phone}}" defaultValue=null #phone>
        </div>
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Password</span>
          <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
          value ="{{arrayEmpresa[posicionTabla].password}}" defaultValue=null #password>
        </div>
        
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Confirmar Password</span>
          <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
          value ="{{arrayEmpresa[posicionTabla].password}}" defaultValue=null >
        </div>
        <div class="row grande">
          <button type ="button" class="boton-barra-filtros reductor" routerLink="/home" (click)="updateEmpresa(name.value, address.value,email.value,phone.valueAsNumber,password.value)">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Modificar datos</button>
        </div>
      </form>
    </div>
  </div>