.tarjeta-add-empleado {
    width: 70%;
    height: 750px;
    border: 2px solid white;
    background: linear-gradient(#dfdfdfd2, #9f9f9fd5), url("../../../assets/hormiguero.png");
    margin-left: 10%;
    border-radius: 6px;
    margin-top: 5vh;
  }
  .row img{
    width: 400px;height:365px;margin-top: -12%; margin-left: -20%; border-radius: 16%
  }
  
  /* ................................................Boton y Search................................................. */
  .boton-barra-filtros {
    width: 63%;
    background-color: var(--colorFondo);
    margin-left: -60px;
  }
  
  .grande {
    height: 80px;
    width: 600px;
    margin-top: 34%;
    margin-left: 10%;
    border-radius: 12px;
  }
  

  .cabecera-input {
    width: 33%;
    background-color:var(--colorFondo);
    color: white;
    margin-top: 18px;
    height: 40px;
  }
  
  .input-modal {
    background-color:  rgb(94, 94, 94);;
    color: white;
    margin-top: 18px;
    height: 40px;
    font-size: 16px;
  }
  
  .colocar-selectores {
    position: absolute;
    margin-left: 40px;
    justify-content: space-between;
    align-items: flex-start;
  
  }
  
  .form-check-label,
  .form-check-input {
    margin-top: 2% !important;
    justify-content: space-evenly;
  
  }
  
  .descripcion {
    height: 180px;
    text-align: start;
  
  }
  
  .falso-input {
    width: 67%;
    height: 40px;
    background-color: rgb(45, 58, 88);
    margin-top: 19px;
    border: 1px solid white;
    border-radius: 4px;
    justify-content: space-evenly;
  }
  
  .col form {
    margin-right: 6%;
    margin-top: 5%;
    align-content: space-between;
  }
  
  .foto {
    width: 460px;
  }
  
  .iconos-tarjetas {
    margin-left: 6%;
    font-size: 30px;
    cursor: pointer;
  }
  
  .sol {
    color: yellow;
  }
  
  .luna {
    color: rgb(64, 75, 224);
  }
  
  .tarde {
    color: #ff9100
  }
  
  .margen1 {
    margin-left: 6%;
  }
  
  .margen2 {
    margin-left: 12%;
  }
  
  