.fc-bg-event{
    cursor: pointer;
}


.tamaño-tabla{
    width: 100%; height: 80%
}
.tableContainer{
    background-color: rgba(255, 255, 255, 0.05);
    margin: 10px;
    padding: 20px;
}
.table{
    margin: 5px;
    color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tablaHeader{
    color: #ff9100
}
.trPar{ 
    background-color: rgba(255, 255, 255, 0.15);
}
.form-control{
    font-size: small;
}

.close-thik {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 30px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 15px;
  }

.close-thik:after {
    content: '✖'; /* UTF-8 symbol */
  }