<div class="sidebar" *ngIf="this.servicio.estaOculto">
    <div class="menu">
        <nav class="nav flex-column">
            <h2><img src="../../../assets/Logo/LogoSinNombre.png" style= "width: 30%;" alt="">Anthill</h2>
            <hr>
            <div class="misOpciones">
                <a class ="opciones" routerLink="home">
                    <i class="fas fa-home"></i>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Home
                </a>
                <a class ="opciones" *ngIf="!this.servicio.esEmpleado" id="drop" (click)="mostrar()">
                    <i class="fas fa-calendar-alt"></i>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Horarios
                </a>
                <ul *ngIf ="!isHidden && !this.servicio.esEmpleado" id="list">
                    <a class="opciones" routerLink="turnos-empresa">Turnos</a>
                    <a class="opciones" routerLink="vacaciones">Vacaciones</a>
                </ul>

                <a class="opciones" *ngIf="!this.servicio.esEmpleado" routerLink="stock">
                    <i class="fas fa-cubes"></i>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Stock
                </a>
                <a class="opciones" *ngIf="!this.servicio.esEmpleado" routerLink="produccion">
                    <i class="fas fa-industry"></i>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Producción
                </a>
                <a class="opciones" *ngIf="!this.servicio.esEmpleado" (click)="ver()">
                    <i class="fas fa-user-alt"></i>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    RRHH
                </a>
                <ul *ngIf ="!oculto && !this.servicio.esEmpleado" id="list">
                    <a class="opciones" routerLink="rrhh-empresa">Empresa</a>
                    <a class="opciones" routerLink="rrhh-empleados">Empleados</a>
                </ul>
                <a class ="opciones" id="drop" *ngIf="this.servicio.esEmpleado"(click)="mostrar()">
                    <i class="fas fa-calendar-alt"></i>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Horarios
                </a>
                <ul *ngIf ="!isHidden && this.servicio.esEmpleado" id="list">
                    <a class="opciones" routerLink="empleado-turnos">Turnos</a>
                    <a class="opciones" routerLink="empleado-vacaciones">Vacaciones</a>
                </ul>
                <a class="opciones" *ngIf="this.servicio.esEmpleado" routerLink="empleado-mi-perfil">
                    <i class="fas fa-user-alt"></i>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Mi perfil
                </a>
               
            </div>
            
          </nav>
    </div>
</div>