
.turnoCompleto{
    background-color: rgba(250, 62, 62, 0.767);

}

.turnoMedias{
    background-color: rgb(184, 184, 54);
}

.turnoVacio{
    background-color: rgba(44, 161, 44, 0.801);
}

.turnoSeleccionado{
    background-color: #fafafa;
}

tbody tr{
    height: 10vh;
}

td{
    width: 10%;
    vertical-align: middle;
}

.botonGuardar{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

.boton-barra-filtros{
    height: 50px;    
}


.selectTurno{
    margin: auto;
    text-align: center;
    width: 50%;
    background: rgba(0,0,0,0.2);
}

.tablaEmpleadosElegidos{
    margin: auto;
}

.empleadoSelect{
    font-size: 20px;
    font-weight: 600;
}

.celdaEmpleadoSelect{
    width: fit-content;
    text-align: left;
}

.tablaEmpleadosElegidos i:hover{
    color: red;
    cursor: pointer;
}