.tarjeta-add-empleado {
  width: 70%;
  height:800px;
  border: 2px solid white;
  background: linear-gradient(#f3f3f3d5, #dadada9e), url("../../../assets/hormiguero.png");
  margin-left: 10%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

/* ................................................Boton y Search................................................. */
.boton-barra-filtros {
  width: 63%;
  background-color: var(--colorFondo);
}
.boton-barra-filtros:hover{
  background-color: var(--colorPrincipal);
}
.grande {
  height: 80px;
  width: 600px;
  margin-top: 34%;
  margin-left: 10%;
  border-radius: 12px;
}




.cabecera-input {
  width: 33%;
  background-color: var(--colorFondo);
  color: white;
  margin-top: 18px;
  height: 40px;
}

.input-modal {
  background-color: rgb(174, 174, 174);
  color: var(--colorFondo);
  margin-top: 18px;
  height: 40px;
  font-size: 16px;
}

.colocar-selectores {
  position: absolute;
  margin-left: 40px;
  justify-content:flex-start;
  align-items: flex-start;
  width: 400px;
  height: 40px;
  margin-top:1%

}

.form-check-label,
.form-check-input {
  margin-top: 2% !important;
  justify-content: space-evenly;
}

.descripcion {
  height: 180px;
  text-align: start;

}

.falso-input {
  width: 67%;
  height: 40px;
  background-color: rgb(174, 174, 174);
  margin-top: 18px;
  border: 1px solid white;
  border-radius: 4px;
  justify-content: space-evenly;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px ;
  color: var(--colorFondo); 
  font-size: 16px;
}

.col form {
  margin-right: 6%;
  margin-top: 5%;
  align-content: space-between;
}

.foto {
  width: 460px;
}

.iconos-tarjetas {
  margin-left: 6%;
  font-size: 30px;
  cursor: pointer;
}

.sol {
  color: yellow;
}

.luna {
  color: rgb(64, 75, 224);
}

.tarde {
  color: #ff9100
}

.margen1 {
  margin-left: 16%;
}


/* --------------------------------------------------------- */



/* ---------------------------------------------------------- */