
<div class="row barra-filtros">
   <div class="col-2">
     <form class="d-flex">
       <input class="form-control me-2 mainLoginInput input-search-barra" type="search" placeholder="&#61442;"
         aria-label="Search">
       <button type="button" class="btn btn-primary btn-sm boton-redondo">Go</button>
     </form>
   </div>
   <div class="col-1">
     <select class="form-select selectBarraFiltros" aria-label="Default select example" style="width: fit-content;">
       <option selected>Fecha</option>
       <option value="1">Día</option>
       <option value="2">Mes</option>
     </select>
     </div>
<div class="col-9">
   <button class="boton-barra-filtros reductor" (click)="show()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Añadir</button>
</div>

<div class="row" *ngIf="arrayProductividad.length > 0; else isNone">
  <div class = "grafico" (click) = "cambiarTamanyo()">
    <div echarts [options]="ChartOptions" [loading]="true" [merge]="mergeOptions" class="demo-chart" style="height:180px;" id = "miGrafica">
    </div>
  </div>

  <div class="col-12">
    <div class="row tamaño-tabla" id="tablita">
      <div class="container mt-5">
        <div class="tableContainer">
          <table class="table">
            <thead>
              <tr class="tablaHeader">
                <th>Empleado</th>
                <th>Producción Total</th>
                <th>Horas Trabajadas</th>
                <th class="destacada">Productividad</th>
                <th>Emblema</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let trabajadores of arrayProductividad | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index; let even = even" [ngClass] = "{trPar: even}" (click)="getProdIndividual(i)">
                <td>{{trabajadores.name}}</td>
                <td class="destacada">{{trabajadores.sum_productivity}}</td>
                <td>{{trabajadores.sum_hours}}</td>
                <td class="destacada">{{(trabajadores.sum_productivity/trabajadores.sum_hours).toFixed(2)}}</td>
                <td><i class="fas fa-cubes estado-verde-tabla"></i></td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #isNone>
  <h5 style="text-align: center;">Todavía no hay datos de producción introducidos</h5>
</ng-template>

<!-- Modal añadir-->
<div class="modal tarjetas-modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header" >
        <h4 class="modal-title">Introduce nuevos datos</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
      </div>
      
      <div class="modal-body fondo-modal">
        <form>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Empleado</span>
            <select class="form-select" aria-label="Default select example" style="width: fit-content;" #empleado>
              <option *ngFor = "let trabajadores of arrayProductividad" selected value="{{trabajadores.name}}">{{trabajadores.name}}</option>
            </select>
    
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Producción</span>
            <input type="number" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #productividad>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Horas</span>
            <input type="number" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #horas>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Día</span>
            <input type="date" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #dias>
          </div>
        </form>
      </div>
      
      <div class="modal-footer colocar-boton">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addProductividad(empleado.value, productividad.valueAsNumber, horas.valueAsNumber, dias.value)">Enviar</button>
      </div>
      
    </div>
  </div>
</div>