/* You can add global styles to this file, and also import other style files */
body{
    color: white;
    background-color: #1f283e;
}

.sidebar{
    background:  linear-gradient(#ff9100, #ff91007e), url(./assets/thomas-smith-399133-1707x2560.jpg);
    color:  #1f283e;
}

.logoHome{
    width: 160px;
    height: 140px;
}

.logoHome img{
    padding: 10px;
}

.calendario, .reloj{
    background: rgba(255, 255, 255, 0.05);
    margin: 10px;
    padding: 20px;
}

.logoHome{
    margin: 0px;
    padding: 0px;
}


.calendario h2{
    color:#ff9100
}

.calendario a{
    text-decoration: none;
    color: white;
}

.fc .fc-daygrid-day.fc-day-today{
    background-color: #ff9100 !important
}