body{
    color: white;
    background: rgb(31, 40, 62);
    /* background:  linear-gradient( rgba(31, 39, 61, 0.98),rgba(31, 39, 61, 0.98)), url("./assets/hormigasLogin.jpg"); */
}

.sidebar{
    background:  linear-gradient(#ff9100c9, #ff9100af), url("./assets/thomas-smith-399133-1707x2560.jpg");
    color:  #1f283e;
    border:  white solid 1px;
    border-radius: 6px;
    margin-left: 20px;
    height: 87vh;
    
}

@media screen and (max-width:780px)
{
    #imagen{display :none}
}

.header{
    font-size: 30px;
    padding: 5px 15px;
    height: 10vh;
}

.logoHome{
    width: 160px;
    height: 140px;
}

.logoHome img{
    padding: 10px;
}

.calendario, .reloj, .selectTurno{
    background: rgba(255, 255, 255, 0.05);
    margin: 10px;
    padding: 20px;
}

.selectTurno{
    background-color: #ff9100   
}

.logoHome{
    margin: 0px;
    padding: 0px;
}


.calendario h2{
    color:#ff9100
}

.calendario a{
    text-decoration: none;
    color: white;
}

.fc .fc-daygrid-day.fc-day-today{
    background-color: #ff9100 !important
}

.nav h2{
    font-family: 'Staatliches', cursive;
    margin-top: 1rem;
    font-size: 40px;
}

​
.nav i{
    margin-right: 15px;

}

.form-control{
    font-size: small;
}

/*.nav a{
    
    color: #1f283e;
    margin: 5px 30px;
    border-radius: 6px;
    font-size: 0.8rem;
}
​
.nav a.active{
    background: rgba(255, 255, 255, 0.23);;
    opacity: 1;
}
​
.nav a:hover{
    background: rgba(255, 255, 255, 0.23);;
    opacity: 1;
}*/