:root{
  --colorPrincipal: #54e346;
  --colorFondo: #03256c;;
  --colorLetraSideBar: #6c81a6;
  --colorSideBar: #fff;
  --colorLetraTablas: #fff;
}

.cuerpoComponentes{
  margin-top: 4vh
}

body {
  color: white;
  background: var(--colorFondo);
  height: 100%;
  font-family: 'Poppins', sans-serif;
  /* background:  linear-gradient( rgba(31, 39, 61, 0.98),rgba(31, 39, 61, 0.98)), url("./assets/hormigasLogin.jpg"); */
}

/* ------------------Sidebar---------------------- */
.sidebar {
  /* background: var(--colorSideBar); */
  background: linear-gradient(#fff, rgba(255, 255, 255, 0.664)), url("./assets/thomas-smith-399133-1707x2560.jpg");
  color: var(--colorLetraSideBar);
  min-height: 100%;
  width: 184px;
}

.sidebarContracted{
  background: var(--colorSideBar);
  color: var(--colorLetraSideBar);
  height: 100%;
  width: 80px;
}

.separador{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.menu{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* -------------------------------------- */


/* ----------------------------------Desaparecer fotos------------------------------------------------------- */
@media screen and (max-width:900px) {
  #imagen {
    display: none
  }
}
/* ---------------------------------------------------------------------------------------------------------- */
.header {
  font-size: 30px;
  padding: 5px 15px;
  height: 10vh;
}

.calendario, .reloj, .selectTurno, .logoHome, .tableContainer, .grafico, .tarjetas-fila1{
  background: linear-gradient(
    90deg
    ,#02194b 0  
    ,#0539a9 50%
    ,#02194b);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  margin: 10px;
  margin-top: 0;
  padding: 20px;
  border-radius: 6px;
}

.grafico{
  margin: 0;
}

.calendario:hover, .reloj:hover, .selectTurno:hover, .logoHome:hover, .tableContainer:hover, .grafico:hover, .tarjetas-fila1:hover{
  -webkit-box-shadow: 0px 0px 10px 2px rgba(255,255,225,0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(255,255,225,0.75);
  box-shadow: 0px 0px 10px 2px rgba(255,255,225,0.75);
}

.selectTurno{
    background-color: var(--colorPrincipal)   
}

.calendario h2 {
  color: var(--colorPrincipal);
}

.calendario a {
  text-decoration: none;
  color: white;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: var(--colorPrincipal) !important
}

.fc .fc-button-primary{
  background-color: var(--colorPrincipal) !important;
  color: var(--colorSideBar);
}

.nav h2{
  margin-top: 1rem;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--colorFondo);
}

​ .nav i {
  margin-right: 15px;

}

.form-control {
  font-size: small;
}

.nav a{
    color: #1f283e;
    font-size: 2rem;
}
​
.nav a.active{
    background: rgba(255, 255, 255, 0.23);;
    opacity: 1;
}
​
.nav a:hover{
    background: rgba(255, 255, 255, 0.23);;
    opacity: 1;
}


/*  -------------------------------------------------------Modal---------------------------------------------------------- */
.tarjetas-modal {
  background: rgb(31, 40, 62, 0.90);
}

.modal-content {
  background-color: var(--colorFondo);
  border: 2px solid white;
  width: 800px;
  height: 680px;
  margin-top: 90px;
  position: relative;
}

.cabecera-input {
  width: 33%;
  background-color: rgb(31, 40, 62);
  color: white;
  margin-top: 15px;
  height: 40px;
}

.input-modal {
  background-color: rgb(45, 58, 88);
  color: white;
  margin-top: 15px;
  height: 40px;
}

.colocar-boton {
  justify-content: center;
  margin: 3%;
}
/* ----------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------CSS TABLAS------------------------------------------------------------------ */
.tamaño-tabla{
  width: 100%; height: 80%
}
/* .tableContainer{
  background-color: rgba(0, 0, 0, 0.05);
  margin: 10px;
  padding: 20px;
} */
.table{
  margin: 5px;
  color: var(--colorLetraTablas);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tablaHeader{
  color: var(--colorPrincipal)
}
.trPar{ 
  background-color: rgba(255, 255, 255, 0.15);
}
.form-control{
  font-size: small;
}
/* ----------------------------------------------------------------------------------------------------------------- */

/* ......................................................Filtros y Search................................................... */
.barra-filtros {
  width: 100%;
  height: 10%;
  margin-left: 3px;
  /* align-items: center; */
}

.input-search-barra {
  margin-left: 6%
}

.boton-redondo {
  background-color: var(--colorPrincipal);
  border-radius: 50%
}

.tamaño-filtros {
  width: 150px;
}

.boton-barra-filtros {
  color: var(--colorPrincipal);
  background-color: transparent;
  background-image: none;
  border-color: var(--colorPrincipal);
  width: fit-content;
  padding: 10px 40px;
  border-radius: 6px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.boton-barra-filtros:hover{
  background-color: var(--colorPrincipal);
  color: #fff;
}

/* ------------------------Animaciones------------------------------------------ */

.reductor
{
    color: var(--colorPrincipal);
    position: relative;
    display: inline-block;
    text-decoration: none;
    
}
.reductor:hover
{
    color: var(--colorLetraTablas);
    background-color: var(--colorPrincipal);
    transition-delay: 0.5s;
}
  
.reductor span
{
    display: block;
    position: absolute;
    background: var(--colorPrincipal);
  
}
  
.reductor span:nth-child(1)
{
    left:0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
.reductor:hover span:nth-child(1)
{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.reductor span:nth-child(2)
{
    left:0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.reductor:hover span:nth-child(2)
{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}
​
.reductor span:nth-child(3)
{
    right:0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.reductor:hover span:nth-child(3)
{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.reductor span:nth-child(4)
{
    left:0;
    top: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.reductor:hover span:nth-child(4)
{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
​
.neon
{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none; 
    transition: 0.2s;
    overflow: hidden;
    font-size: 14px;
    color: #1779ff;
    background: #0c002b;;
    opacity: 1;
}
.neon:hover
{
    color: #0c002b;
    background: #1779ff;
    box-shadow: 0 0 10px #1779ff, 0 0 20px #1779ff, 0 0 40px #1779ff;
    transition-delay: 0.5s;
}
​
  .laser
  {
    margin-left: 90%;
    color: #1779ff;
    position: absolute;
    background: rgba(0,0,0,0.2);
    padding: 10px;
    box-shadow: 0, 10px, 20px rgba(0, 0, 0,.5);
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
​
  .laser span:nth-child(1)
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1 2s linear infinite;
    animation-delay: 1s;
  } 
 @keyframes animate1
  {
    0%
    {
      transform: translateX(-100%);
    }
    100%
    {
      transform: translateX(100%);
    }
  }
​
  .laser span:nth-child(2)
  {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
  }
  @keyframes animate2
  {
    0%
    {
      transform: translateY(-100%);
    }
    100%
    {
      transform: translateY(100%);
    }
  }
​
  .laser span:nth-child(3)
  {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: animate3 2s linear infinite;
  }
  @keyframes animate3
  {
    0%
    {
      transform: translateX(100%);
    }
    100%
    {
      transform: translateX(-100%);
    }
  }
​
​
  .laser span:nth-child(4)
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
  }
  @keyframes animate4
  {
    0%
    {
      transform: translateY(100%);
    }
    100%
    {
      transform: translateY(-100%);
    }
  }
  .iconos-barra-filtros i:hover{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px var(--colorPrincipal), 0 0 30px var(--colorPrincipal), 0 0 40px var(--colorPrincipal), 0 0 55px var(--colorPrincipal), 0 0 75px var(--colorPrincipal);
    
  
  }
/* ------------------------------------ */