body {
  color: white;
  background: rgb(31, 40, 62);
  /* background:  linear-gradient( rgba(31, 39, 61, 0.98),rgba(31, 39, 61, 0.98)), url("./assets/hormigasLogin.jpg"); */
}

.sidebar {
  background: linear-gradient(#ff9100c9, #ff9100af), url("./assets/thomas-smith-399133-1707x2560.jpg");
  color: #1f283e;
  border: white solid 1px;
  border-radius: 6px;
  margin-left: 20px;
  height: 87vh;

}
/* ----------------------------------Desaparecer fotos------------------------------------------------------- */
@media screen and (max-width:780px) {
  #imagen {
    display: none
  }
}
/* ---------------------------------------------------------------------------------------------------------- */
.header {
  font-size: 30px;
  padding: 5px 15px;
  height: 10vh;
}

.logoHome {
  width:  fit-content;
  height: fit-content;
}

.logoHome img {
  padding: 10px;
}

.calendario, .reloj, .selectTurno, .logoHome{
    background: rgba(255, 255, 255, 0.05);
    margin: 10px;
    padding: 20px;
}

.selectTurno{
    background-color: #ff9100   
}

/* .logoHome{
    margin: 0px;
    padding: 0px;
} */


.calendario h2 {
  color: #ff9100
}

.calendario a {
  text-decoration: none;
  color: white;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #ff9100 !important
}

.nav h2{
    font-family: 'Staatliches', cursive;
    margin-top: 1rem;
    font-size: 40px;
    text-align: center;
}

​ .nav i {
  margin-right: 15px;

}

.form-control {
  font-size: small;
}

/*.nav a{
    
    color: #1f283e;
    margin: 5px 30px;
    border-radius: 6px;
    font-size: 0.8rem;
}
​
.nav a.active{
    background: rgba(255, 255, 255, 0.23);;
    opacity: 1;
}
​
.nav a:hover{
    background: rgba(255, 255, 255, 0.23);;
    opacity: 1;
}*/


/*  -------------------------------------------------------Modal---------------------------------------------------------- */
.tarjetas-modal {
  background: rgb(31, 40, 62, 0.90);
}

.modal-content {
  background-color: #ff9100;
  border: 2px solid white;
  width: 800px;
  height: 680px;
  margin-top: 90px;
  position: relative;
}

.cabecera-input {
  width: 33%;
  background-color: rgb(31, 40, 62);
  color: white;
  margin-top: 15px;
  height: 40px;
}

.input-modal {
  background-color: rgb(45, 58, 88);
  color: white;
  margin-top: 15px;
  height: 40px;
}

.colocar-boton {
  justify-content: center;
  margin: 3%;
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------CSS TABLAS------------------------------------------------------------------ */
.tamaño-tabla{
  width: 100%; height: 80%
}
.tableContainer{
  background-color: rgba(255, 255, 255, 0.05);
  margin: 10px;
  padding: 20px;
}
.table{
  margin: 5px;
  color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tablaHeader{
  color: #ff9100
}
.trPar{ 
  background-color: rgba(255, 255, 255, 0.15);
}
.form-control{
  font-size: small;
}
/* ----------------------------------------------------------------------------------------------------------------- */

/* ......................................................Filtros y Search................................................... */
.barra-filtros {
  width: 100%;
  height: 10%;
  margin-left: 3px;
}

.input-search-barra {
  margin-left: 6%
}

.boton-redondo {
  border-radius: 50%
}

.tamaño-filtros {
  width: 150px;
}

.boton-barra-filtros {
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  background: #1b8249;
  border: 2px solid;
  border-color: white;
  position: relative;
  width: 20%;
  height: 80px;
  border-radius: 6px;
  background-color: #ff9100;
}
