/* You can add global styles to this file, and also import other style files */
body{
    color: white;
    background-color: #1f283e;
}

.sidebar{
    background:  linear-gradient(#ff9100c9, #ff9100af), url(./assets/thomas-smith-399133-1707x2560.jpg);
    color:  #1f283e;
}

