 <!-- ----------------------Search y Filtros---------------------------- -->
 <div class="row barra-filtros">
   <div class="col-2">
     <form class="d-flex">
       <input class="form-control me-2 mainLoginInput input-search-barra" type="search" placeholder="&#61442;"
         aria-label="Search">
       <button type="button" class="btn btn-primary btn-sm boton-redondo">Go</button>
     </form>
   </div>
   <div class="col-1">
    <select class="form-select colocar-select" aria-label="Default select example">
      <option selected>Categoría</option>
      <option value="1">Material médico</option>
      <option value="2">Medicina</option>
      <option value="3">Parafarmacia</option>
    </select>
  </div>
  <div class="col-1 margen1">
    <select class="form-select colocar-select" aria-label="Default select example">
      <option selected>Unidad</option>
      <option value="1">Litros</option>
      <option value="2">Unidades</option>
      <option value="3">Kilos</option>
    </select>
  </div>
  <div class="col-1 margen2">
    <select class="form-select colocar-select" aria-label="Default select example">
      <option selected>Fecha</option>
      <option value="1">Enero-2021</option>
      <option value="2">Febrero-2021</option>
      <option value="3">Marzo-2021</option>
    </select>
  </div>
  <div class="col-1">
    <select class="form-select colocar-select" aria-label="Default select example">
      <option selected>Ubicación</option>
      <option value="1">Almacén</option>
      <option value="2">Congelador</option>
      <option value="3">En stock</option>
    </select>
  </div>
  <div class="col-1">
    <select class="form-select colocar-select" aria-label="Default select example">
      <option selected>Estado</option>
      <option value="1">Correcto</option>
      <option value="2">Reponer</option>
    </select>
  </div>
   <!-- -------------------- Button e Iconos------------------------------ -->
   <button class="boton-barra-filtros" (click)="show()">Añadir</button>

   <div class="modal tarjetas-modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header" >
          <h4 class="modal-title">Introduce un nuevo Producto</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
        </div>
        
        <div class="modal-body fondo-modal">
          <form>

            <div class="input-group flex-nowrap mt-1">
              <span class="input-group-text cabecera-input" id="addon-wrapping">Introducir foto (Opcional)</span>
              <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #titulo>
            </div>
            <div class="input-group flex-nowrap mt-1">
              <span class="input-group-text cabecera-input" id="addon-wrapping">Artículo</span>
              <input type="text"class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #titulo>
            </div>
            <div class="input-group flex-nowrap mt-1">
              <span class="input-group-text cabecera-input" id="addon-wrapping">Categoría</span>
              <input type="email" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #titulo>
            </div>
            <div class="input-group flex-nowrap mt-1">
              <span class="input-group-text cabecera-input" id="addon-wrapping">Cantidad</span>
              <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #titulo>
            </div>
            <div class="input-group flex-nowrap mt-1">
              <span class="input-group-text cabecera-input" id="addon-wrapping">Unidad</span>
              <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #titulo>
            </div>
            <div class="input-group flex-nowrap mt-1">
              <span class="input-group-text cabecera-input" id="addon-wrapping">Fecha de entrada</span>
              <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #titulo>
            </div>
            <div class="input-group flex-nowrap mt-1">
              <span class="input-group-text cabecera-input" id="addon-wrapping">Ubicación</span>
              <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #titulo>
            </div>
            <div class="input-group flex-nowrap mt-1">
              <span class="input-group-text cabecera-input" id="addon-wrapping">Cantidad mínima</span>
              <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #titulo>
            </div>
          </form>
        </div>
        
        <div class="modal-footer colocar-boton">
          <button type="button" class="boton-barra-filtros boton-modal">Guardar</button>
        </div>
        
      </div>
    </div>
  </div>


   <div class="col iconos-barra-filtros">
     <i class="far fa-address-card" routerLink="/stock-tarjetas"></i>
     <i class="fas fa-table" routerLink="/stock"></i>
   </div>
 </div>
 <!-- ------------------Tarjetas--------------------------------- -->
 <div class="row container-tarjetas">


   <div class="row fila-completa">
     <div class="col-4">
       <div class="card mb-3 shadow tarjetas-fila1">
         <div class="row g-0 img">
           <div class="col-md-4">
             <img src="../../../assets/hormiguero.png" alt="..."
               style="width: 200px;height:250px;margin-top: 25%; margin-left: 15%; border-radius: 50%;" id="imagen">
           </div>
           <div class="col-8">
             <div class="card-body letras-tarjeta">
               <p class="card-title"><b>Cartegoria:</b> Vacuna</p>
               <p class="card-title"><b>Cantidad:</b> 200</p>
               <p class="card-title"><b>Unidad:</b> Litros</p>
               <p class="card-title"><b>Entrada:</b> 21/03/2021</p>
               <p class="card-title"><b>Ubicación:</b> Congelador</p>
               <p class="card-title"><b>Estado:</b> <i class="fas fa-cubes estado-rojo"></i></p>
               <p class="card-title"><b>Opciones:</b> <i class="far fa-times-circle iconos-tarjetas eliminar"></i>
                 <i class="fas fa-cog iconos-tarjetas editar"(click)="show()" ></i></p>


             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card mb-3 shadow tarjetas-fila1">
         <div class="row g-0 img">
           <div class="col-md-4">
             <img src="../../../assets/hormigasLogin.jpg" alt="..."
               style="width: 200px;height:250px;margin-top: 25%; margin-left: 15%; border-radius: 50%;" id="imagen">
           </div>
           <div class="col-8">
             <div class="card-body letras-tarjeta">
               <p class="card-title"><b>Cartegoria:</b> Vacuna</p>
               <p class="card-title"><b>Cantidad:</b> 200</p>
               <p class="card-title"><b>Unidad:</b> Litros</p>
               <p class="card-title"><b>Entrada:</b> 21/03/2021</p>
               <p class="card-title"><b>Ubicación:</b> Congelador</p>
               <p class="card-title"><b>Estado:</b> <i class="fas fa-cubes estado-verde"></i></p>
               <p class="card-title"><b>Opciones:</b> <i class="far fa-times-circle iconos-tarjetas eliminar"></i>
                 <i class="fas fa-cog iconos-tarjetas editar" (click)="show()"></i></p>


             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card mb-3 shadow tarjetas-fila1">
         <div class="row g-0 img">
           <div class="col-md-4">
             <img src="../../../assets/Logo/LogoNaranja.png" alt="..."
               style="width: 200px;height:250px;margin-top: 25%; margin-left: 15%; border-radius: 50%;" id="imagen">
           </div>
           <div class="col-8">
             <div class="card-body letras-tarjeta">
               <p class="card-title"><b>Cartegoria:</b> Vacuna</p>
               <p class="card-title"><b>Cantidad:</b> 200</p>
               <p class="card-title"><b>Unidad:</b> Litros</p>
               <p class="card-title"><b>Entrada:</b> 21/03/2021</p>
               <p class="card-title"><b>Ubicación:</b> Congelador</p>
               <p class="card-title"><b>Estado:</b> <i class="fas fa-cubes estado-verde"></i></p>
               <p class="card-title"><b>Opciones:</b> <i class="far fa-times-circle iconos-tarjetas eliminar"></i>
                 <i class="fas fa-cog iconos-tarjetas editar" (click)="show()"></i></p>


             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- -----------------------------------Fila2---------------------------------- -->
   <div class="row fila-completa">
     <div class="col-4">
       <div class="card mb-3 shadow tarjetas-fila1">
         <div class="row g-0 img">
           <div class="col-md-4">
             <img src="../../../assets/thomas-smith-399133-1707x2560.jpg" alt="..."
               style="width: 200px;height:250px;margin-top: 25%; margin-left: 15%; border-radius: 50%;" id="imagen">
           </div>
           <div class="col-8">
             <div class="card-body letras-tarjeta">
               <p class="card-title"><b>Cartegoria:</b> Vacuna</p>
               <p class="card-title"><b>Cantidad:</b> 200</p>
               <p class="card-title"><b>Unidad:</b> Litros</p>
               <p class="card-title"><b>Entrada:</b> 21/03/2021</p>
               <p class="card-title"><b>Ubicación:</b> Congelador</p>
               <p class="card-title"><b>Estado:</b> <i class="fas fa-cubes estado-verde"></i></p>
               <p class="card-title"><b>Opciones:</b> <i class="far fa-times-circle iconos-tarjetas eliminar"></i><i
                   class="fas fa-cog iconos-tarjetas editar" (click)="show()"></i></p>


             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card mb-3 shadow tarjetas-fila1">
         <div class="row g-0 img">
           <div class="col-md-4">
             <img src="../../../assets/04f64347325351.5a04cfc3f2c34.png" alt="..."
               style="width: 200px;height:250px;margin-top: 25%; margin-left: 15%; border-radius: 50%;" id="imagen">
           </div>
           <div class="col-8">
             <div class="card-body letras-tarjeta">
               <p class="card-title"><b>Cartegoria:</b> Vacuna</p>
               <p class="card-title"><b>Cantidad:</b> 200</p>
               <p class="card-title"><b>Unidad:</b> Litros</p>
               <p class="card-title"><b>Entrada:</b> 21/03/2021</p>
               <p class="card-title"><b>Ubicación:</b> Congelador</p>
               <p class="card-title"><b>Estado:</b> <i class="fas fa-cubes estado-rojo"></i></p>
               <p class="card-title"><b>Opciones:</b> <i class="far fa-times-circle iconos-tarjetas eliminar"></i><i
                   class="fas fa-cog iconos-tarjetas editar"(click)="show()"></i></p>


             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card mb-3 shadow tarjetas-fila1">
         <div class="row g-0 img">
           <div class="col-md-4">
             <img src="../../../assets/hormiguero.png" alt="..."
               style="width: 200px;height:250px;margin-top: 25%; margin-left: 15%; border-radius: 50%;" id="imagen">
           </div>
           <div class="col-8">
             <div class="card-body letras-tarjeta">
               <p class="card-title"><b>Cartegoria:</b> Vacuna</p>
               <p class="card-title"><b>Cantidad:</b> 200</p>
               <p class="card-title"><b>Unidad:</b> Litros</p>
               <p class="card-title"><b>Entrada:</b> 21/03/2021</p>
               <p class="card-title"><b>Ubicación:</b> Congelador</p>
               <p class="card-title"><b>Estado:</b> <i class="fas fa-cubes estado-verde"></i></p>
               <p class="card-title"><b>Opciones:</b> <i class="far fa-times-circle iconos-tarjetas eliminar"></i><i
                   class="fas fa-cog iconos-tarjetas editar" (click)="show()"></i></p>


             </div>
           </div>
         </div>
       </div>
     </div>

   </div>
 </div>
