 <!-- ----------------------Search y Filtros---------------------------- -->
 <div class="row barra-filtros">
   <div class="col-2">
     <form class="d-flex">
       <input class="form-control me-2 mainLoginInput input-search-barra" type="search" placeholder="&#61442;"
         aria-label="Search">
       <button type="button" class="btn btn-primary btn-sm boton-redondo">Go</button>
     </form>
   </div>
   <div class="col-1">
    <select class="form-select selectBarraFiltros colocar-select" aria-label="Default select example">
      <option selected>Categoría</option>
      <option value="1">Material médico</option>
      <option value="2">Medicina</option>
      <option value="3">Parafarmacia</option>
    </select>
  </div>
  <div class="col-1 margen1">
    <select class="form-select selectBarraFiltros colocar-select" aria-label="Default select example">
      <option selected>Unidad</option>
      <option value="1">Litros</option>
      <option value="2">Unidades</option>
      <option value="3">Kilos</option>
    </select>
  </div>
  <div class="col-1">
    <select class="form-select selectBarraFiltros colocar-select" aria-label="Default select example">
      <option selected>Ubicación</option>
      <option value="1">Almacén</option>
      <option value="2">Congelador</option>
      <option value="3">En stock</option>
    </select>
  </div>
  <div class="col-1">
    <select class="form-select selectBarraFiltros colocar-select" aria-label="Default select example">
      <option selected>Estado</option>
      <option value="1">Correcto</option>
      <option value="2">Reponer</option>
    </select>
  </div>
   <!-- -------------------- Button e Iconos------------------------------ -->
   <button class="boton-barra-filtros reductor" (click)="show()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Añadir</button>

   <div class="col iconos-barra-filtros">
     <i class="far fa-address-card" routerLink="/stock-tarjetas"></i>
     <i class="fas fa-table" id="margen"  routerLink="/stock"></i>
   </div>
 </div>
 
<!-- ------------------Tarjetas--------------------------------- -->
<div class="row container-tarjetas">
  <div class="row fila-completa" *ngIf="arrayStock.length > 0; else isNone">

     <div class="card tarjetas letras-tarjeta tarjetas-fila1" *ngFor="let stock of arrayStock | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index">
       <img class="card-img-top imagenTarjeta"src="../../../assets/tarjetas/jeringuilla.jpg" alt="Card image cap">
       <div class="card-body" >
         <p class="card-text"><b>Artículo: </b>{{stock.name}}</p>
         <p class="card-text"><b>Categoría: </b>{{stock.type}}</p>
         <p class="card-text"><b>Cantidad: </b>{{stock.quantity}}</p>
         <p class="card-text"><b>Unidad: </b>{{stock.unit}} </p>
         <p class="card-text"><b>Ubicación: </b>{{stock.place}}</p>
         <p class="card-text"><b>Estado: </b><i class="fas fa-cubes estado-verde"></i></p>
         <hr>
         <p class="card-text" style="text-align: center;"><i class="far fa-times-circle iconos-tarjetas eliminar" (click)="showSure(i)"></i>
           <i class="fas fa-edit iconos-tarjetas editar"  (click)="show2(i)" ></i></p>
       </div>
     </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  <div class="alert alert-dismissible alert-success" *ngIf="mostrar">
    <button type="button" class="close" on-click="cerrar()">&times;</button>
    <strong>{{mensaje}}</strong>
  </div>   
  </div>
</div>
<ng-template #isNone>
  <h5 style="text-align: center;">Todavía no hay artículos introducidos</h5>
</ng-template>


<!-- Modal Borrar-->
<div class="modal" id="myModal" [style.display]="showModal3 ? 'block' : 'none'" *ngFor="let stock of arrayStock; let i = index" >
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      ¿Seguro que quieres borrar : {{stock.name}}?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="hide()">Atrás</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteStock(stock.id_stock)">Borrar</button>
    </div>
  </div>
</div>
</div>
  
        



<!-- --------------------------------Modal añadir producto-------------------------------------- -->
<div class="modal tarjetas-modal fondo-modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header" >
        <h4 class="modal-title">Introduce un nuevo Producto</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
      </div>
      
      <div class="modal-body">
        <form>

          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Introducir foto (Opcional)</span>
            <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #picture>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Artículo</span>
            <input type="text"class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #name>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Categoría</span>
            <input type="email" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #type>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Cantidad</span>
            <input type="number" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #quantity>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Unidad</span>
            <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #unit>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Ubicación</span>
            <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #place>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Cantidad mínima</span>
            <input type="number" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #minQuantity>
          </div>
        </form>
      </div>
      
      <div class="modal-footer colocar-boton">
        <button type="button" class="boton-barra-filtros boton-modal" routerLink="/stock" (click)="addStock(name.value, type.value, quantity.valueAsNumber, unit.value, place.value, minQuantity.valueAsNumber, picture.value)">Guardar</button>
        <button type="button" class="boton-barra-filtros boton-modal color" (click)="hide()">Cancelar</button>
      </div>
      
      
    </div>
  </div>
</div>

<!-- ------------------------------------------Modal cambiar producto--------------------------------------------------------- -->

<div class="modal tarjetas-modal fondo-modal" id="myModal" [style.display]="showModal2 ? 'block' : 'none'">
<div class="modal-dialog">
  <div class="modal-content">
  
    <div class="modal-header" >
      <h4 class="modal-title">Cambiar Producto</h4>
      <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
    </div>
    
    <div class="modal-body">
      <form>

        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Cambiar foto</span>
          <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" value="{{arrayStock[posicionTabla].picture}}" defaultValue=null #pictureEdit>
        </div>
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Artículo</span>
          <input type="text"class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" value="{{arrayStock[posicionTabla].name}}" defaultValue=null #nameEdit>
        </div>
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Categoría</span>
          <input type="email" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" value="{{arrayStock[posicionTabla].type}}"  defaultValue=null #typeEdit>
        </div>
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Cantidad</span>
          <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" value="{{arrayStock[posicionTabla].quantity}}" defaultValue=null #quantityEdit>
        </div>
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Unidad</span>
          <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" value="{{arrayStock[posicionTabla].unit}}" defaultValue=null #unitEdit>
        </div>
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Ubicación</span>
          <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" value="{{arrayStock[posicionTabla].place}}"defaultValue=null #placeEdit>
        </div>
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Cantidad mínima</span>
          <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" value="{{arrayStock[posicionTabla].minQuantity}}"defaultValue=null #minQuantityEdit>
        </div>
        <div class="modal-footer colocar-boton">
          <button type="reset" class="boton-barra-filtros boton-modal" routerLink="/stock-tarjetas" (click)="updateStock(nameEdit.value, typeEdit.value, quantityEdit.valueAsNumber, unitEdit.value, placeEdit.value, minQuantityEdit.valueAsNumber, pictureEdit.value)" >Guardar</button>
          <button type="button" class="boton-barra-filtros boton-modal color"(click)="hide()">Cancelar</button>
        </div>
      </form>
    </div>
    
  
  </div>
</div>
</div>
   