/* ................................................Boton y Search................................................. */
.boton-modal{
  height: 40px;
  background-color:  var(--colorFondo)
}
.fondo-modal{
  background-color: rgba(0, 0, 0, 0.75);
}
.boton-barra-filtros{
  height: 55px;
}

.row .iconos-barra-filtros {
  text-align: end;
}

.iconos-barra-filtros i {
  cursor: pointer;
  font-size: 50px;
  margin-right: 3%;

}
#margen{
  margin-right: 25%;
}
.iconos-barra-filtros i:hover{
  color:darkturquoise
}

.mainLoginInput::-webkit-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(0, 0%, 0%);
}

.color{
  background: #ff9100;
}
/* ....................................Desaparecer responsive.................................................. */
@media screen and (max-width:1500px) {
  #imagen {
    display: none
  }
}

/* ......................................................Filtros y Search................................................... */
/* .barra-filtros {
  width: 100%;
  height: 10%;
  margin:3px

} */

.input-search-barra {
  margin-left: 5%
}

.boton-redondo {
  border-radius: 50%
}

/* .................................................................Body tarjetas.............................................. */
.container-tarjetas {
  width: 100%;
  height: 85%;
 
}

.fila-completa {
  width: 97%;
  height: 50%;
  margin-left: 1%;
  margin-top: 20px;


}

.letras-tarjeta {
  color: white;
  /* margin-left: 20%; */
  margin-top: 1%;
  margin-bottom: 5%;
}

.iconos-tarjetas {
  margin-left: 7%;
  font-size: 30px;
  cursor: pointer;
}

.sol {
  color: yellow;
}

.luna {
  color: rgb(64, 75, 224);
}

.tarde {
  color: #ff9100
}

.eliminar {
  color: rgb(135, 126, 135);
  margin-left: 10px;
  margin-top: 10px;
  transition: background-color .1s;
}

.editar {
  color: rgb(135, 126, 135)
}
 .eliminar:hover {
  color: red;
  cursor:pointer
}
 .editar:hover{
  color:  var(--colorPrincipal);
  cursor:pointer
}

.estado-rojo {
  color: red;
  font-size: 30px;
  margin-left: 7%;
}

.estado-verde {
  color: green;
  font-size: 30px;
  margin-left: 7%;
}

.cabecera-input {
  width: 33%;
  background-color: var(--colorFondo);
  color: white;
  margin-top: 15px;
  height: 40px;
}

.input-formulario {
  background-color: rgb(45, 58, 88);
  color: white;
  margin-top: 15px;
  height: 40px;
}

/* .card-title .fa-times-circle:hover {
  color: red;
  cursor:pointer
}
.card-title .fa-cog:hover {
  color:  rgb(45, 58, 88);
  cursor:pointer
} */

.editar {
  color: rgb(135, 126, 135)
}
.colocar-select{
  width: fit-content;
}
.margen1{
  margin-left: 2%;margin-right: -1%;
}
.margen2{
  margin-right: 1%;
}
.boton-barra-filtros{
  height: 55px;
}