.fc-bg-event{
    cursor: pointer;
}

.close-thik {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 30px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 15px;
  }

.close-thik:after {
    content: '✖'; /* UTF-8 symbol */
  }