<div class="row" style="justify-content: center; margin-top: 60px; display:flex ;flex-wrap: wrap; flex-flow: wrap;">
  <div class="col-4"
    style="border:1px solid  #ff9100; width: min-width; height: 600px; justify-content: center;align-items: centers ;background-color:  #ff9100; border-radius: 6px;">
    <div class="row">
      <img src="../../../assets/Logo/Logo.png"
        style="width: max-content; height: max-content; margin-top: 20px; margin-left: 37%;">
    </div>
    <br>
    <hr>
    <form>

      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text" id="addon-wrapping"
          style="width: 33%; background-color: #1f283e; color:white;margin-top: 30px;">Nombre</span>
        <input type="text" style="background-color: rgb(45, 58, 88);color: white;margin-top: 30px" class="form-control"
          aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #titulo>
      </div>
      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text" id="addon-wrapping"
          style="width: 33%; background-color: #1f283e; color:white ;margin-top: 10px;">Dirección</span>
        <input type="text" style="background-color: rgb(45, 58, 88);color: white;margin-top: 10px;" class="form-control"
          aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #titulo>
      </div>
      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text" id="addon-wrapping"
          style="width: 33%; background-color: #1f283e; color:white ;margin-top: 10px;">Email</span>
        <input type="email" style="background-color: rgb(45, 58, 88);color: white;margin-top: 10px;"
          class="form-control" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #titulo>
      </div>
      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text" id="addon-wrapping"
          style="width: 33%; background-color: #1f283e; color:white ;margin-top: 10px;">Teléfono</span>
        <input type="text" style="background-color: rgb(45, 58, 88);color: white;margin-top: 10px;" class="form-control"
          aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #titulo>
      </div>
      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text" id="addon-wrapping"
          style="width: 33%; background-color: #1f283e; color:white;margin-top: 10px;">Password</span>
        <input type="password" style="background-color: rgb(45, 58, 88);color: white;margin-top: 10px;"
          class="form-control" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #titulo>
      </div>
      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text" id="addon-wrapping"
          style="width: 33%; background-color: #1f283e; color:white;margin-top: 10px;">Confirmar Password</span>
        <input type="password" style="background-color: rgb(45, 58, 88);color: white;margin-top: 10px;"
          class="form-control" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #titulo>
      </div>
      <div class="row" style="margin-top: 40px;justify-content: center;">
        <button class="boton4" style = "height: max-content;"routerLink="">Añadir</button>
      </div>
    </form>
  </div>
</div>

