.cuerpo-registro {
  justify-content: center;

  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
}

.tarjeta-registro {
  border: 1px solid #ff9100;
  width: min-width;
  height: 600px;
  justify-content: center;
  align-items: centers;
  background-color: #ff9100;
  border-radius: 6px;
  margin-top: 60px;

}

.boton4 {
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  /* padding: 0.5em 1.2em; */
  background: #318aac;
  border: 2px solid;
  border-color: #318aac;
  position: relative;
  width: 20%;
  height: 40px;
  border-radius: 6px;
  background-color: #1f283e;
}

.boton4:hover
{
    color: #ff9100;
    background: #1f283e;
    box-shadow: 0 0 10px #1f283e, 0 0 20px #1f283e, 0 0 40px #1f283e;
    transition-delay: 0.2s;
}

/*  ----------------------------------------------------------------Modal-------------------------------------------------------------- */
.tarjetas-modal {
  background: rgb(31, 40, 62, 0.90);
}

.modal-content {
  background-color: #ff9100;
  border: 2px solid white;
  width: 800px;
  height: 680px;
  margin-top: 90px;
  position: relative;
}

.cabecera-input {
  width: 33%;
  background-color: rgb(31, 40, 62);
  color: white;
  margin-top: 15px;
  height: 40px;
}

.input-modal {
  background-color: rgb(45, 58, 88);
  color: white;
  margin-top: 15px;
  height: 40px;
}

.colocar-boton {
  justify-content: center;
  margin: 3%;
}

body{
  background:  linear-gradient( rgba(31, 39, 61, 0.98),rgba(31, 39, 61, 0.94)), url("../../../assets/hormigasLogin.jpg") !important ;
  height: 100vh;
   }