/* .boton4 {
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 20px;
  font-weight: 400;
  padding: 0.5em 1.2em;
  background: #318aac;
  border: 2px solid;
  border-color: #318aac;
  position: relative;

}

.boton4:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
} */
.boton4 {
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  /* padding: 0.5em 1.2em; */
  background: #318aac;
  border: 2px solid;
  border-color: #318aac;
  position: relative;
  width: 20%;
  height: 40px;
  border-radius: 6px;
  background-color: #1f283e;
}

.boton4:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 1s ease;
}

.boton4:hover:before {
  width: 100%;
}

