.row .filabotones
{
    vertical-align: middle;
}

.boton-redondo
{
    border-radius: 50%;
    width: 35px;
    text-align: center;
}
.boton-barra-filtros
{
    height: 35px;
    margin-right: 1px;
}

.container-tarjetas 
{
    width: 100%;
    height: 85%
}

.tarjetas-fila1
{
    width: 650px;
    background: linear-gradient(
    90deg
    ,#02194b 0  
    ,#0539a9 50%
    ,#02194b);
}

.letras-tarjeta 
{
    color: white;
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.iconos-tarjetas 
{
    margin-left: 7%;
    font-size: 26px;
    cursor: pointer;
}

.sol 
{
    color: yellow;
}

.luna 
{
    color: white;
}

.tarde 
{
    color: #ff9100
}

.eliminar 
{
    color: rgb(135, 126, 135);
    margin-left: 10px;
    margin-top: 10px;
    transition: background-color .1s;
}

.elimnar:hover 
{
    color: red;
}

.editar 
{
    color: rgb(135, 126, 135)
}

.trPar{ 
    background-color: rgba(255, 255, 255, 0.15);
}

.grafico{
    margin: 10px;
  }