<div class="row">
    <div class="col-6"></div>
    <div class="col-6">
        <div class="row filabotones">
            <div class="col">
                <button type="button" class="btn btn-primary btn-sm boton-redondo"(click)="mesIzquierda()"><i class="fas fa-arrow-left"></i></button>
                <button type="button" class="btn btn-primary btn-sm boton-redondo"(click)="mesDerecha()"><i class="fas fa-arrow-right"></i></button>
            </div>
            <div class="col">
                <button class="boton-barra-filtros" (click) = "verPorMes()">Mes</button>
                <button class="boton-barra-filtros" (click) = "verPorAnyo()">Año</button>
            </div>
        </div>
    </div>
</div>


<div class="row fila-completa">
    <div class="col-6">
      <div class="card mb-3 tarjetas-fila1">
        <div class="row g-0 img">
          <div class="col-md-4">
            <img src="../../../assets/tarjetas/empleado2.jpg" alt="..."
              style="width: 250px;height:270px;margin-top: -20%; margin-left: -20%; border-radius: 6px;" id="imagen">
              
          </div>
          <div class="col-8">
            <div class="card-body letras-tarjeta">
              <p class="card-title" ><b>Nombre:</b> {{unEmpleado.name}}</p>
              <p class="card-title"><b>Apellido:</b> {{unEmpleado.surname}}</p>
              <p class="card-title"><b>Edad:</b> {{unEmpleado.age}}</p>
              <p class="card-title"><b>Puesto:</b> {{unEmpleado.position}}</p>
              
              <p class="card-title"><b>Telefono:</b> {{unEmpleado.phone}}</p>
              <p class="card-title"><b>Email:</b> {{unEmpleado.email}}</p>
              <p class="card-title"><b>Vacaciones restantes:</b> {{23 - vacaciones.length}}</p>
              <p class="card-title" ><b>Turno:</b><i class="fas fa-adjust iconos-tarjetas tarde"></i><i
                class="fas fa-moon iconos-tarjetas luna"></i> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
        <div class="col">
            <div class="row tamaño-tabla">
                <div class="tableContainer">
                  <table class="table">
                    <thead>
                      <tr class="tablaHeader">
                        <th>Producción</th>
                        <th>Horas Trabajadas</th>
                        <th>Día</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor = "let empleadop of produccionEmpleados | paginate: { itemsPerPage: itemsPerPage, currentPage: page };, let i=index">
                        <td>{{empleadop.productivity}}</td>
                        <td>{{empleadop.hours}}</td>
                        <td>{{empleadop.date.slice(0,10)}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
    </div>
</div>

<div class="row">
  <div class = "grafico">
    <div echarts [options]="chartOptions" [merge]="mergeOptions" [loading]="true" class="demo-chart">
  </div>
</div>
