<body>
  

  <div class="row1" style="justify-content: center;">
    
        <div class="col-3">
          <img src="../../../assets/hormiguero.png" class="imagen-hormiguero" id="imagen">
        </div>
        <div class="tarjeta-login">
           <div class="row">
            <img src="../../../assets/Logo/ANT.png" style="max-width: 30%;" class="logo-tarjeta">
          </div>
          <h2>ANTHILL</h2>
          <hr>
          <form class="row" style="justify-content: center;">
            <input class="input-login" type="email" placeholder="Email" #email>
            <input class="input-login margen" type="password" placeholder="Password" #password>
            <button class="boton-login" (click)="acceder(email.value,password.value)">Acceder</button>
          </form>
          <br>
          <hr>
          <p class="alinear">Si eres una empresa y aún no te has registrado</p>
          <p class="alinear register" routerLink="/register"><b>Regístrate</b></p> 
        </div>

  </div>
<div class="col about">
    <h5 routerLink="/about-us">Sobre nosotros</h5>
</div>


</body>