 <!-- ----------------------Search y Filtros---------------------------- -->
 <div class="row barra-filtros">
    <div class="col-2">
      <form class="d-flex">
        <input class="form-control me-2 mainLoginInput input-search-barra" type="search" placeholder="&#61442;"
          aria-label="Search">
        <button type="button" class="btn btn-primary btn-sm boton-redondo">Go</button>
      </form>
    </div>
    <div class="col-1">
      <select class="form-select selectBarraFiltros" aria-label="Default select example">
        <option selected>Puesto</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-1">
      <select class="form-select selectBarraFiltros" aria-label="Default select example">
        <option selected>Edad</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="tamaño-filtros">
      <select class="form-select selectBarraFiltros" aria-label="Default select example">
        <option selected>Proyecto</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <!-- -------------------- Button e Iconos------------------------------ -->
  <div class="col-2">
    <button class="boton-barra-filtros reductor" routerLink="/rrhh-add-empleados">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Nuevo Empleado</button>
    </div>
    <div class="col iconos-barra-filtros">
     <i class="far fa-address-card" routerLink="/rrhh-empleados"></i>
     <i class="fas fa-table" id="margen" routerLink="/rrhh-empleados-tabla"></i>
 </div>
 
  </div>
  <!-- ----------------------------Tabla------------------------------------------- -->
  <div class="row tamaño-tabla" *ngIf="arrayEmpleados.length > 0; else isNone">

    <div class="container mt-5">
      <div class="tableContainer">
        <table class="table">
          <thead>
            <tr class="tablaHeader">
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Edad</th>
              <th>Puesto</th>
              <th>Turno</th>
              <th>Teléfono</th>
              <th>Email</th>
              
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empleado of arrayEmpleados | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index; let even = even" [ngClass]="{trPar:even}">
              <td>{{empleado.name}}</td>
              <td>{{empleado.surname}}</td>
              <td>{{empleado.age}}</td>
              <td>{{empleado.position}}</td>
              <td class="col"> 
                <i class="fas fa-sun iconos-tarjetas sol" *ngIf = "empleado.shiftMorning==true"></i> 
                <i class="fas fa-adjust iconos-tarjetas sol" *ngIf = "empleado.shiftAfternoon==true"></i>
                <i class=" fas fa-moon iconos-tarjetas luna" *ngIf = "empleado.shiftEvening==true"></i></td>
              <td>{{empleado.phone}}</td>
              <td>{{empleado.email}}</td>
              
              <td><i class="far fa-times-circle iconos-tarjetas eliminar" (click)="show(i)"></i>
                <i class="fas fa-edit iconos-tarjetas editar"  (click)="editarEmpleado(empleado.id_employees)"></i></td>
            </tr>
          </tbody>
        </table>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
    <div class="alert alert-dismissible alert-success" *ngIf="mostrar">
      <button type="button" class="close" on-click="cerrar()">&times;</button>
      <strong>{{mensaje}}</strong>
    </div>
      </div>
    </div>
  </div>
  
<ng-template #isNone>
  <h5 style="text-align: center;">Todavía no hay empleados introducidos</h5>
</ng-template>

       <!-- Modal Borrar-->
      <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
            ¿Seguro que quieres borrar a {{arrayEmpleados[posicionTabla].name}}  {{arrayEmpleados[posicionTabla].surname}}?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="hide()">Atrás</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteEmpleado()">Borrar</button>
            </div>
          </div>
        </div>
      </div>
      
 
 
 

 