 <!-- ----------------------Search y Filtros---------------------------- -->
 <div class="row barra-filtros">
    <div class="col-2">
      <form class="d-flex">
        <input class="form-control me-2 mainLoginInput input-search-barra" type="search" placeholder="&#61442;"
          aria-label="Search">
        <button type="button" class="btn btn-primary btn-sm boton-redondo">Go</button>
      </form>
    </div>
    <div class="col-1">
      <select class="form-select selectBarraFiltros" aria-label="Default select example">
        <option selected>Puesto</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-1">
      <select class="form-select selectBarraFiltros" aria-label="Default select example">
        <option selected>Edad</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="tamaño-filtros">
      <select class="form-select selectBarraFiltros" aria-label="Default select example">
        <option selected>Proyecto</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <!-- -------------------- Button e Iconos------------------------------ -->
    <button class="boton-barra-filtros reductor" routerLink="/rrhh-add-empleados">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Nuevo Empleado</button>
 
    <div class="col iconos-barra-filtros">
     <i class="far fa-address-card" routerLink="/rrhh-empleados"></i>
     <i class="fas fa-table" id="margen" routerLink="/rrhh-empleados-tabla"></i>
 </div>
 
  </div>
  <!-- ----------------------------Tabla------------------------------------------- -->
  <div class="row tamaño-tabla">

    <div class="container mt-5">
      <div class="tableContainer">
        <table class="table">
          <thead>
            <tr class="tablaHeader">
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Edad</th>
              <th>Puesto</th>
              <th>Turno</th>
              <th>Teléfono</th>
              <th>Email</th>
              <th>Vacaciones</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="trPar">
              <td>Eugenio</td>
              <td>Delgado</td>
              <td>45</td>
              <td>Desarrollador</td>
              <td class="col"> <i class="fas fa-sun iconos-tarjetas sol"></i><i class=" fas fa-moon iconos-tarjetas luna"></i></td>
              <td>654821397</td>
              <td>Eugenio@gmail.com</td>
              <td>21</td>
              <td><i class="far fa-times-circle iconos-tarjetas eliminar"></i>
                <i class="fas fa-edit iconos-tarjetas editar" routerLink="/rrhh-add-empleados"></i></td>
            </tr>
            <tr>
                <td>Aurelio</td>
                <td>Delgado</td>
                <td>45</td>
                <td>Desarrollador</td>
                <td> <i class="fas fa-moon iconos-tarjetas luna"></i></td>
                <td>655937397</td>
                <td>Aurelio@gmail.com</td>

                <td>21</td>
                <td><i class="far fa-times-circle iconos-tarjetas eliminar"></i>
                  <i class="fas fa-edit iconos-tarjetas editar" routerLink="/rrhh-add-empleados"></i></td>
            </tr>
            <tr>
                <td>Aurelio</td>
                <td>Delgado</td>
                <td>45</td>
                <td>Desarrollador</td>
                <td> <i class="fas fa-moon iconos-tarjetas luna"></i></td>
                <td>655937397</td>
                <td>Aurelio@gmail.com</td>

                <td>21</td>
                <td><i class="far fa-times-circle iconos-tarjetas eliminar"></i>
                  <i class="fas fa-edit iconos-tarjetas editar" routerLink="/rrhh-add-empleados"></i></td>
            </tr>
            <tr>
                <td>Aurelio</td>
                <td>Delgado</td>
                <td>45</td>
                <td>Desarrollador</td>
                <td> <i class="fas fa-adjust iconos-tarjetas tarde"></i></td>
                <td>655937397</td>
                <td>Aurelio@gmail.com</td>

                <td>21</td>
                <td><i class="far fa-times-circle iconos-tarjetas eliminar"></i>
                  <i class="fas fa-edit iconos-tarjetas editar" routerLink="/rrhh-add-empleados"></i></td>
            </tr>
            <tr>
                <td>Aurelio</td>
                <td>Delgado</td>
                <td>45</td>
                <td>Desarrollador</td>
                <td> <i class="fas fa-sun iconos-tarjetas sol"></i></td>
                <td>655937397</td>
                <td>Aurelio@gmail.com</td>

                <td>21</td>
                <td><i class="far fa-times-circle iconos-tarjetas eliminar"></i>
                  <i class="fas fa-edit iconos-tarjetas editar" routerLink="/rrhh-add-empleados"></i></td>
            </tr>
 
 
          </tbody>
        </table>
      </div>
    </div>
 
 
 
  </div>
 