/* .........Boton y Search............ */

  
  /* .boton-barra-filtros:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease;
  } 
  .boton-barra-filtros:hover:before {
    height: 100%;
  } */

  
  .row .iconos-barra-filtros{
    text-align:end;
  
  }
  .iconos-barra-filtros i{
    cursor:pointer;
    font-size:50px;
    margin-right:3% ;
  }
  .iconos-barra-filtros i:hover{
    color:var(--colorPrincipal)
  }
  .mainLoginInput::-webkit-input-placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: hsl(0, 0%, 0%);
  }
  .iconos-tarjetas {
    margin-left: 7%;
    font-size: 26px;
    cursor: pointer;
  }
  .sol {
    font-size: 16px;
    color: yellow;
  }
  
  .luna {
    font-size: 16px;
    color: white;
  }
  
  .tarde {
    color: #ff9100;
    font-size: 16px;
  }
  
  .eliminar {
    color: rgb(135, 126, 135);
    margin-left: 10px;
    margin-top: 10px;
    transition: background-color .1s;
  }
  .table .fa-times-circle:hover {
    color: red;
    cursor:pointer
  }
  .table .fa-edit:hover {
    color:  var(--colorPrincipal);
    cursor:pointer
  }
  
  .editar {
    color: rgb(135, 126, 135)
  }

  .tamaño-tabla{
    width: 93%;
    height: fit-content;
    margin-left: 1%;
  }
  .table{
    width:100%;
  }

 .tableContainer{
     width: 100%;
     margin-top: 3%;
 }
 .form-select{
  width: fit-content;
}
#margen{
  margin-right: 25%;
}
.modal{
  padding-top: 10%;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content{
  height: 20%;
  width: 100%;
}

.heigthTopBar{
  height: 45px;
}
.modal-footer{
  justify-content: space-between;
}