
.opciones, .opcionesHide, .opcionesLog
{
    position: flex;
    display: inline-block;
    padding: 20px 20px;  
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none; 
    transition: 0.2s;
    overflow: hidden;
    font-size: 14px;
    color: var(--colorLetraSideBar);
    opacity: 1;
    width: 100%;
    cursor: pointer;
}
.opciones:hover
{
    background: rgba(255, 255, 255, 0.23);;
    box-shadow: 0 0 10px #1f283e;
    transition-delay: 0.5s;
}

.opciones i, .opcionesHide i{
    font-size: 20px;
}

.opcionesHide{
    padding-bottom: 0;
}

.opcionesLog{
    padding-top: 0;
}

.misOpciones .active{
    color: var(--colorSideBar);
    background-color: var(--colorFondo);
}

.list button
{
    text-decoration: none; 
}





