<div class="container">
    <div class="row">
        <div class="col-2 logoHome">
            <img src="../../../assets/Logo/LogoBlanco.png" alt="">
        </div>
        <div class="col-6 calendario">
            <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
        <div class="col-3 reloj">
            <div class="row">
                <div class="digitalClock">
                    <div class="display">
                        {{ hr + ':' + min + ':' + sec}}
                    </div>
                </div>
            </div>
<!-- Reloj copiado de https://www.codingnepalweb.com/2020/05/neumorphism-working-analog-clock-using-javascript.html -->
            <div class="row mt-5">
                <div class="clock">
                    <div class="center-nut">
                    </div>
                    <div class="center-nut2">
                    </div>
                    <div class="indicators">
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="sec-hand" [ngStyle]="{ transform: 'rotate(' + second + 'deg)' }">
                        <div class="sec">
                        </div>
                    </div>
                    <div class="min-hand" [ngStyle]="{ transform: 'rotate(' + minute + 'deg)' }">
                        <div class="min">
                        </div>
                    </div>
                    <div class="hr-hand" [ngStyle]="{ transform: 'rotate(' + hour + 'deg)' }">
                        <div class="hr">
                        </div>
                    </div>
                </div>
     <!-- Reloj copiado -->
            </div>
        </div>    
    </div>
</div>