<div class="row">
    <div class="col-8 calendario">
        <full-calendar [options]="calendarOptions"></full-calendar>  
    </div>
    <div class="col-3 reloj">
<!-- Reloj copiado de https://www.codingnepalweb.com/2020/05/neumorphism-working-analog-clock-using-javascript.html -->
        <div class="clock">
            <div class="hour" [ngStyle]="{ transform: 'rotate(' + hour + 'deg)' }">
                 <div class="hr" id="hr">

                </div>
            </div>
            <div class="min" [ngStyle]="{ transform: 'rotate(' + minute + 'deg)' }">
                <div class="mn" id="mn">

                </div>
            </div>
            <div class="sec" [ngStyle]="{ transform: 'rotate(' + second + 'deg)' }">
                <div class="sc" id="sc" style="transform: rotateZ(276deg);">

                </div>
            </div>
        </div>
        <div class="col logoHome mt-5">
            <img src="../../../assets/Logo/LogoBlanco.png" alt="">
        </div>
    </div>
</div>
