

img{
  width:100%;
  height: 100%;
  margin-top: 5%;
 
}

.logoHome img {
  padding: 10px;
}




/* Reloj analogico */

.clock {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border: 4px;
  border-radius: 50%;
  border: 2px solid var(--colorPrincipal);
  margin: 0 auto;
}


/* The small circle int the center */
.clock:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--colorPrincipal);
  border-radius: 50%;

  /* The z-index property specifies the stack order of an element.
  /* An element with greater stack order is always in front of an element with a lower stack order.  */
  /* Note: z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky). */
  z-index: 10000;
  /* kept as a high value, since wanted at top */
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}

.clock .hour, .hr {
  width: 160px;
  height: 160px;
} 

.clock .min, .mn {
  width: 190px;
  height: 190px;
}

.clock .sec, .sc {
  width: 230px;
  height: 230px;
}

.hr, .mn, .sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  
}

.hr:before {
  content: '';
  position: absolute;
  width: 7.5px;
  height: 85px;
  background: var(--colorPrincipal);
  z-index: 10;
  /* z-index least */
  border-radius: 2.8px;
}

.mn:before {
  content: '';
  position: absolute;
  width: 3.5px;
  height: 100px;
  background: var(--colorPrincipal);
  z-index: 11;
  /* z-index more than hour hand */
  border-radius: 3px;
}

.sc:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 150px;
  background: var(--colorPrincipal);
  z-index: 12;
  /* z-index more than hour minute hand */
  border-radius: 3px;
}
