<div class="container">
    <div class="tableContainer">
      Semana {{ servicio.weekNumber}} y dia {{servicio.firstDayWeek}}
        <table class="table table-bordered">
          <thead>
            <tr class="tablaHeader">
              <th>Turno</th>
              <th>Lunes</th>
              <th>Martes</th>
              <th>Miercoles</th>
              <th>Jueves</th>
              <th>Viernes</th>
              <th>Sabado</th>
              <th>Domingo</th>
            </tr>
          </thead>
          <tbody>
            <tr class="trPar">
                <td><i class="far fa-sun"></i> Mañana</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><i class="fas fa-adjust"></i> Tarde</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="trPar">
                <td><i class="far fa-moon"></i> Noche</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="selectTurno">
        <div class="empleadosElegidos">
            <p>Carlos Ocaña</p>
            <p>Alberto Bermejo</p>
        </div>
        <hr>
        <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text" id="addon-wrapping"
          style="width: 33%; background-color: #1f283e; color:white">Empleado</span>
        <select class="form-select" aria-label="Default select example">
            <option selected>Seleccione un empleado</option>
            <option value="1">Carlos Ocaña</option>
            <option value="2">Alberto Bermejo</option>
            <option value="3">Manuel Pinto</option>
          </select>
        </div>
    </div>

</div>