
.turnoCompleto{
    background-color: green;
}

.turnoMedias{
    background-color: yellow;
}

.turnoVacio{
    background-color: red;
}

tbody tr{
    height: 10vh;
}

td{
    width: 10%;
    vertical-align: middle;
}