<div class="row barra-filtros">
  <div class="col-2">
    <form class="d-flex">
      <input class="form-control me-2 mainLoginInput input-search-barra" type="search" placeholder="&#61442;"
        aria-label="Search">
      <button type="button" class="btn btn-primary btn-sm boton-redondo">Go</button>
    </form>
  </div>
  <div class="col-1">
    <select class="form-select selectBarraFiltros" aria-label="Default select example" style="width: fit-content;">
      <option selected>Fecha</option>
      <option value="1">Día</option>
      <option value="2">Mes</option>
    </select>
    </div>
<div class="col-9">
  <button class="boton-barra-filtros" (click)="show()">Añadir</button>
</div>
<div class="row">
  <div class = "grafico">
    <div echarts [options]="chartOptions" [merge]="mergeOptions" [loading]="true" class="demo-chart">
  </div>
</div>
<div class="col">
    <div class="row tamaño-tabla">
      <div class="container mt-5">
        <div class="tableContainer">
          <table class="table">
            <thead>
              <tr class="tablaHeader">
                <th>Empleado</th>
                <th>Producción Total</th>
                <th>Horas Trabajadas</th>
                <th>Día</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let empleadop of produccionEmpleados | paginate: { itemsPerPage: itemsPerPage, currentPage: page }, let i=index">
                <td>{{empleadop.name}}</td>
                <td>{{empleadop.productivity}}</td>
                <td>{{empleadop.hours}}</td>
                <td>{{empleadop.date.slice(0,10)}}</td>
                <td><i class="far fa-times-circle iconos-tarjetas eliminar" (click)="showSure(i)"></i>
                  <i class="fas fa-edit iconos-tarjetas editar" (click)="show2(i)"></i></td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
    </div>

  </div>
  <!-- Modal Borrar-->
  <div class="modal" id="myModal" [style.display]="showModal3 ? 'block' : 'none'">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-body">
        ¿Seguro de que quieres borrar este dato?
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="hide()">Atrás</button>
         <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteProductividad()">Borrar</button>
       </div>
     </div>
   </div>
 </div>

 <!-- <div class="alert alert-dismissible alert-success" *ngIf="mostrar">
   <button type="button" class="close" on-click="hide()">&times;</button>
   <strong>Dato borrado</strong> <a href="#" class="alert-link"></a>
 </div> -->
<!-- Modal añadir nueva productividad-->
    <div class="modal tarjetas-modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <div class="modal-header" >
            <h4 class="modal-title">Introduce nuevos datos</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
          </div>
          
          <div class="modal-body fondo-modal">
            <form>
              <div class="input-group flex-nowrap mt-1">
                <span class="input-group-text cabecera-input" id="addon-wrapping">Empleado</span>
                <select class="form-select" aria-label="Default select example" style="width: fit-content;" #empleado>
                  <option value="" selected>Seleccione un empleado</option>
                  <option *ngFor = "let trabajadores of arrayProductividad; let i = index; let even = even" value="{{trabajadores.name}}">{{trabajadores.name}}</option>
                </select>
              </div>
              <div class="input-group flex-nowrap mt-1">
                <span class="input-group-text cabecera-input" id="addon-wrapping">Producción</span>
                <input type="number" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #productividad>
              </div>
              <div class="input-group flex-nowrap mt-1">
                <span class="input-group-text cabecera-input" id="addon-wrapping">Horas</span>
                <input type="number" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #horas>
              </div>
              <div class="input-group flex-nowrap mt-1">
                <span class="input-group-text cabecera-input" id="addon-wrapping">Día</span>
                <input type="date" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #dias>
              </div>
            </form>
          </div>
          
          <div class="modal-footer colocar-boton">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addProductividad(empleado.value, productividad.valueAsNumber, horas.valueAsNumber, dias.value)">Enviar</button>
          </div>
          
        </div>
      </div>
    </div>
<!--Modal editar productividad-->
    <div class="modal tarjetas-modal" id="myModal" [style.display]="showModal2 ? 'block' : 'none'">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <div class="modal-header" >
            <h4 class="modal-title">Modificar o eliminar datos</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
          </div>
          
          <div class="modal-body fondo-modal">
            <form>
              <div class="input-group flex-nowrap mt-1">
                <span class="input-group-text cabecera-input" id="addon-wrapping">Empleado</span>
                <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" value="{{produccionEmpleados[posicionTabla].name}}" defaultValue=null #empleadoEdit>
              </div>
              <div class="input-group flex-nowrap mt-1">
                <span class="input-group-text cabecera-input" id="addon-wrapping">Producción</span>
                <input type="number" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" value="{{produccionEmpleados[posicionTabla].productivity}}" defaultValue=null #productividadEdit>
              </div>
              <div class="input-group flex-nowrap mt-1">
                <span class="input-group-text cabecera-input" id="addon-wrapping">Horas</span>
                <input type="number" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" value="{{produccionEmpleados[posicionTabla].hours}}" defaultValue=null #horasEdit>
              </div>
              <div class="input-group flex-nowrap mt-1">
                <span class="input-group-text cabecera-input" id="addon-wrapping">Día</span>
                <input type="date" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" value="{{produccionEmpleados[posicionTabla].date}}" defaultValue=null #diasEdit>
              </div>
            </form>
          </div>
          
          <div class="modal-footer colocar-boton">
            <button type="button" class="boton-barra-filtros boton-modal" (click) = "updateProductividad(empleadoEdit.value, productividadEdit.valueAsNumber, horasEdit.valueAsNumber, diasEdit.value)" >Guardar</button>
          </div>
          
        </div>
      </div>
    </div>

