<div class="row barra-filtros">
  <div class="col-2">
    <form class="d-flex">
      <input class="form-control me-2 mainLoginInput input-search-barra" type="search" placeholder="&#61442;"
        aria-label="Search">
      <button type="button" class="btn btn-primary btn-sm boton-redondo">Go</button>
    </form>
  </div>
  <div class="col-1">
    <select class="form-select selectBarraFiltros" aria-label="Default select example" style="width: fit-content;">
      <option selected>Fecha</option>
      <option value="1">Día</option>
      <option value="2">Mes</option>
    </select>
    </div>
<div class="col-9">
  <button class="boton-barra-filtros" (click)="show()">Añadir</button>
</div>
<div class="row">
  <div class = "grafico">
    <div echarts [options]="chartOptions" [merge]="mergeOptions" [loading]="true" class="demo-chart">
  </div>
</div>
<div class="col">
    <div class="row tamaño-tabla">
      <div class="container mt-5">
        <div class="tableContainer">
          <table class="table">
            <thead>
              <tr class="tablaHeader">
                <th>Empleado</th>
                <th>Producción Total</th>
                <th>Horas Trabajadas</th>
                <th>Día</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let empleadop of produccionEmpleados">
                <td>{{empleadop.name}}</td>
                <td>{{empleadop.productivity}}</td>
                <td>{{empleadop.hours}}</td>
                <td>{{empleadop.date.slice(0,10)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    </div>

    <div class="modal tarjetas-modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <div class="modal-header" >
            <h4 class="modal-title">Introduce nuevos datos</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
          </div>
          
          <div class="modal-body fondo-modal">
            <form>
              <div class="input-group flex-nowrap mt-1">
                <span class="input-group-text cabecera-input" id="addon-wrapping">Empleado</span>
                <select class="form-select" aria-label="Default select example" style="width: fit-content;" #empleado>
                  <option *ngFor = "let trabajadores of arrayProductividad; let i = index; let even = even" selected value="{{trabajadores.name}}">{{trabajadores.name}}</option>
                </select>
        
              </div>
              <div class="input-group flex-nowrap mt-1">
                <span class="input-group-text cabecera-input" id="addon-wrapping">Producción</span>
                <input type="number" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #productividad>
              </div>
              <div class="input-group flex-nowrap mt-1">
                <span class="input-group-text cabecera-input" id="addon-wrapping">Horas</span>
                <input type="number" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #horas>
              </div>
              <div class="input-group flex-nowrap mt-1">
                <span class="input-group-text cabecera-input" id="addon-wrapping">Día</span>
                <input type="date" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping" defaultValue=null #dias>
              </div>
            </form>
          </div>
          
          <div class="modal-footer colocar-boton">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addProductividad(empleado.value, productividad.valueAsNumber, horas.valueAsNumber, dias.value)">Enviar</button>
          </div>
          
        </div>
      </div>
    </div>

