.grafico
{
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    margin-top: 2%;
}
.tamaño-tabla{
    width: 100%; height: 80%
}
.tableContainer{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 1%;
}
.table{
    
    margin: 5px;
    color: #ffffff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.trPar{ 
    background-color: rgba(255, 255, 255, 0.15);
}
.form-control{
    font-size: small;
}

.row-barra-filtros
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:right;

}

.boton-barra-filtros:before {
    content:"";
    position: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease;

  } 
  .boton-barra-filtros:hover:before {
    height: 100%;
  }

  .mainLoginInput::-webkit-input-placeholder { 
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: hsl(0, 0%, 0%);
  }

/* <-- Modal --> */

.boton-modal{
  background: var(--colorFondo);
}
.boton-modal:hover{
  background: var(--colorPrincipal);
}

.colocar-select{
  width: fit-content;
}
.margen1{
  margin-left: 2%;margin-right: -1%;
}
.margen2{
  margin-right: 1%;
}
.tableContainer{
  background: linear-gradient(
    90deg
    ,#03256c 0  
    ,#0539a9 60%
    ,#03256c);
}
#margen{
  margin-right: 25%;
}

.destacada{
  color: var(--colorPrincipal);
}

  .iconos-tarjetas{
    margin-left: 7%;  font-size: 30px; cursor: pointer;
  }
  .eliminar, .editar  {
    color: white;
    margin-left: 10px;
    transition: color .1s;
  }
  .table .fa-times-circle:hover {
    color: red;
    cursor:pointer
  }
  .table .fa-edit:hover {
    color:  var(--colorPrincipal);
    cursor:pointer
  }

  .modal-content{
    height: 20%;
    width: 100%;
}
.modal{
  padding-top: 5%;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal-footer2{
  justify-content: space-between;
}




  

