<div class="row tarjeta-add-empleado">
    <div class="col-4" >
        <img src="{{empleadoInd.picture}}"
          style="width: 300px;height:305px;margin-top: -12%; margin-left: -20%; border-radius: 16%;" alt="">
    </div> 
      
    
      <div class="col-8">
        <form>
  
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Nombre</span>
            <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
              value ="{{empleadoInd.name}}" defaultValue=null #name>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Apellidos</span>
            <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
            value ="{{empleadoInd.surname}}" defaultValue=null #surname>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Edad</span>
            <input type="number" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
            value ="{{empleadoInd.age}}" defaultValue=null #age>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Puesto</span>
            <input type="email" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
            value ="{{empleadoInd.position}}" defaultValue=null #position>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Teléfono</span>
            <input type="number" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
            value ="{{empleadoInd.phone}}" defaultValue=null #phone>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Turno</span>
            <div class="falso-input">
              <div class="colocar-selectores" >
                      
                        <input name="mañana" type="checkbox" (click)="checkBox()" value ="{{empleadoInd.shiftMorning}}"  #shiftMorning/>Mañana
                        
                      <input class="margen1" name="tarde" type="checkbox" (click)="checkBox()" value ="{{empleadoInd.shiftAfternoon}}"  #shiftAfternoon />Tarde
                    
                      <input class="margen1" name="noche" type="checkbox" (click)="checkBox()" value ="{{empleadoInd.shiftEvening}}"  #shiftEvening />Noche
                    
              </div>
            </div>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Email</span>
            <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
            value ="{{empleadoInd.email}}" defaultValue=null #email>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Contraseña</span>
            <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
            value ="{{empleadoInd.password}}" defaultValue=null #password>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Foto</span>
            <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
            value ="{{empleadoInd.picture}}" defaultValue=null #picture>
          </div>
          <div class="input-group flex-nowrap mt-1">
            <span class="input-group-text cabecera-input" id="addon-wrapping">Descripción</span>
            <textarea class="form-control input-modal descripcion" id="exampleFormControlTextarea1" rows="2" value ="{{empleadoInd.name}}" #description></textarea>
  
          </div>
          <div class="row grande">
            <button type="button" class="boton-barra-filtros reductor" (click)="updateEmpleado(name.value,surname.value,age.valueAsNumber,position.value,phone.valueAsNumber,shiftMorning.checked, shiftAfternoon.checked, shiftEvening.checked,email.value,password.value,description.value,picture.value)">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Guardar empleado</button>
          </div>
        </form>
      </div>
    </div>
  