<div class="row tarjeta-add-empleado">
  <div class="foto">
    <div class="row">
      <img src="../../../assets/tarjetas/empleado2.jpg"
        style="width: 400px;height:405px;margin-top: 12%; margin-left: 10%; border-radius: 16%;" alt="">
    </div>
    <div class="row">
      <button class="boton-barra-filtros pequeño" routerLink="rrhh-add-empleados">Añade una foto</button>
    </div>
    <div class="row grande">
      <button class="boton-barra-filtros reductor" routerLink="/rrhh-empleados">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Guardar empleado</button>
    </div>
  </div>
  <div class="col">
    <form>

      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text cabecera-input" id="addon-wrapping">Nombre</span>
        <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
          defaultValue=null #titulo>
      </div>
      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text cabecera-input" id="addon-wrapping">Apellidos</span>
        <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
          defaultValue=null #titulo>
      </div>
      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text cabecera-input" id="addon-wrapping">Edad</span>
        <input type="email" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
          defaultValue=null #titulo>
      </div>
      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text cabecera-input" id="addon-wrapping">Puesto</span>
        <input type="email" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
          defaultValue=null #titulo>
      </div>
      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text cabecera-input" id="addon-wrapping">Teléfono</span>
        <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
          defaultValue=null #titulo>
      </div>
      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text cabecera-input" id="addon-wrapping">Turno</span>
        <div class="falso-input">
          <div class="colocar-selectores" >

                  <input name="cbipeliculas" type="checkbox" />       Mañana
          
                  <input class="margen1" name="cbilibros margen1" type="checkbox"  />       Tarde
                
                  <input class="margen1" name="cbiinternet margen2" type="checkbox"  />       Noche
                
          </div>
        </div>
      </div>
      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text cabecera-input" id="addon-wrapping">Email</span>
        <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
          defaultValue=null #titulo>
      </div>
      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text cabecera-input" id="addon-wrapping">Contraseña</span>
        <input type="password" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
          defaultValue=null #titulo>
      </div>
      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text cabecera-input" id="addon-wrapping">Descripción</span>
        <textarea class="form-control input-modal descripcion" id="exampleFormControlTextarea1" rows="3"></textarea>

      </div>
    </form>
  </div>
</div>
