<nav class="navbar navbar-light bg-light">
  <!-- <img src="../../../assets/Logo/ANT.png" alt="">
    <img src="../../../assets/Logo/ANT.png" alt=""> -->
  <img src="../../../assets/Logo/ANTreverse.png" alt="">
  <h3 routerLink="/login"><u>ANTHILL</u></h3>

  <img src="../../../assets/Logo/ANT.png" alt="">
  <!-- <img src="../../../assets/Logo/ANTreverse.png" alt="">
    <img src="../../../assets/Logo/ANTreverse.png" alt=""> -->
  <!-- <span class="navbar-brand mb-0 h1">Anthill</span> -->
</nav>

<div class="row entrada">
  <h4>Bienvenidos a Anthill!!</h4><br>
  <div class="row centrar">
    
    <div class="col-2 bocadillo">
      <p> Llevarás a cabo toda la gestion de vacaciones y turnos con fáciles indicativos para saber cuantos están de vacaciones o si tienes el número adecuado de empleados trabajando </p>
      <hr>
      <p>Tambien se dispone de la entrada de empleados a modo de consulta de los datos del mismo trabajador, incluso en el caso de los empleados solicitar vacaciones!
      </p>
    </div>
    <div class="col-6 start">
      <img src="../../../assets/About Us/turnos.png" alt="">
    </div>
  
  </div>
  <hr>
  <div class="row centrar">
    <div class="col-2 bocadillo">
      <p>Podrás introducir datos de prducción diariamente para llevar un control de las horas trabajadas y datos como la producción y productividad de cada empleado</p>
      <hr>
      <p>Los datos introducidos en los formularios correspondientes los tendremos reflejados en tablas, en vistas diarias, mensuales y anuales y a su vez en estas dinámicas gráficas!
      </p>
    </div>
    <div class="col-6 start">
      <img src="../../../assets/About Us/grafica.png" class="grafica" alt="">
    </div>
  
  </div>
  <hr>
<div class="row centrar">
  <div class="col-2 bocadillo">
    <p>Finalmente podremos también gestionar tanto la plantilla de trabajo como los productos almacenados, para llevar un control de la información de los empleados y un control de stock</p>
    <hr>
    <p>Modificarás, eliminarás o crearás nuevos empleados o artículos mediante estas tablas, con una vista de tarjetas mas visuales. <br>Gracias por su visita!</p>
   
    
  </div>
  <div class="col-6 start">
    <img src="../../../assets/About Us/tabla.png" class="tabla" alt="">
  </div>

</div>

<div class="row centrar">
  <div class="col tamaño">
    <img src="../../../assets/About Us/fotoCharles.jpeg" class="fotos" alt="">
    <p>Carlos Ocaña <a href="https://www.linkedin.com/in/carlos-oca%C3%B1a-p%C3%A9rez-90867920a/"><i
          class="fab fa-linkedin icono"></i></a></p>

  </div>
  <div class="col tamaño">
    <img src="../../../assets/About Us/fotoAlbert.JPG" class="fotos" alt="">
    <p>Alberto Bermejo <a href="https://www.linkedin.com/in/alberto-bermejo-corredor-696a47b8/"><i
          class="fab fa-linkedin icono"></i></a></p>

  </div>
  <div class="col tamaño">
    <img src="../../../assets/About Us/fotoManu.jpg" class="fotos" alt="">
    <p>Manuel Pinto <a href="https://www.linkedin.com/in/manuel-pinto-gomez/"><i class="fab fa-linkedin icono"></i></a>
    </p>

  </div>



</div>
