.navbar img{
    width: 90px;
    height: 70px;
}
h3{
    color: var(--colorFondo);
    cursor: pointer;
}
.navbar{
    width: 100%;
    height: 100px;
    top: 0;
    /* position: sticky; */
}
.row{
    
    /* border: 1px solid yellow; */
    width: 200vh;
    height: 400px;
}

.end{
justify-content: flex-end;
/* border: 1px solid yellow; */
}
.start{
    justify-content: flex-start;
    /* border: 1px solid yellow; */
}
.centrar{
        
    margin-top: 3%;
    text-align: center;
    justify-content: center;
}

.turnos{
    width: 100%; 
    height: 65%;
}
.tarjeta{
    width: 80%;
    height: 90%;
    margin-top: -170px;
}

.entrada{
    text-align: center;
    color: white;
    margin-top: 60px;
}

h4 {
    margin-top: 15px;
}
.bocadillo{
    background-color: #02194b;
    width: 50%;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.tamaño{
    font-size: 24px;
    margin-top: 50px;
}
.icono{
    font-size: 50px;
}

.fotos{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.imagen{
    width: 1000px;
    height: 300px;
}

.nosotros{
    background: white;
    width: 100%;
}

.separador{
    width: 90%;
}

.colorNombre{
    color: var(--colorFondo)
}

.funcionalidades{
    margin-left: auto;
    margin-right: auto;
}
li{
    list-style: none;
    margin-top: 15px;
}

.lista{
    margin-top: 50px;
    margin-left: 40%;
    background-color: #02194b;
    width: fit-content;
    padding: 20px;
    border-radius: 12px;
    
}