<nav class="navbar navbar-light bg-light">
  <img src="../../../assets/Logo/ANTreverse.png" alt="">
  <h3 routerLink="/login"><u>ANTHILL</u></h3>
  <img src="../../../assets/Logo/ANT.png" alt="">
</nav>
<div  class="funcionalidades">
  <h2 class="entrada">Plataforma de gestion de recursos de una empresa</h2>
  <div class="lista">
    <ul>
      <h5>Funcionalidades:</h5>
      <li><i class="fas fa-user-alt"></i> Control de vacaciones de los trabajadores</li>
      <li><i class="fas fa-cubes"></i> Gestión de los articulos de la empresa</li>
      <li><i class="fas fa-industry"></i> Analizar de la productividad del empleado</li>
      <li><i class="fas fa-calendar-alt"></i> Administración de los turnos de trabajo</li>
    </ul>
  </div>
  
</div>
  <div class="row centrar">
    <div class="col-2 bocadillo">
      <h5 class="mt-5"> Gestión de los turnos de tus empleados y vacaciones </h5>
      <hr>
      <p>Tambien se permite la entrada de empleados y la gestión de sus datos</p>
    </div>
    <div class="col-6 start">
      <img src="../../../assets/About Us/turnos.png" class="imagen" alt="">
    </div>
  </div>
  <hr class="separador">
  <div class="row centrar">
    <div class="col-2 bocadillo">
      <h5 class="mt-5">Gestión de la producción</h5>
      <hr>
      <p>Los datos podrán ser visualizados en vistas diarias, mensuales y anuales y a su vez en gráficas dinámicas</p>
    </div>
    <div class="col-6 start">
      <img src="../../../assets/About Us/grafica.png" class="imagen" alt="">
    </div>
  </div>
  <hr class="separador">
<div class="row centrar">
  <div class="col-2 bocadillo">
    <h5 class="mt-5">Gestión de RRHH y Stock</h5>
    <hr>
    <p>Modificarás, eliminarás o crearás nuevos empleados o artículos mediante estas tablas, con una vista de tarjetas mas visuales</p>
  </div>
  <div class="col-6 start">
    <img src="../../../assets/About Us/tabla.png" class="imagen" alt="">
  </div>
</div>

<div class="nosotros">
  <div class="row centrar">
    <div class="col tamaño">
      <img src="../../../assets/About Us/fotoCharles.jpeg" class="fotos" alt="">
      <p class="colorNombre">Carlos Ocaña <a href="https://www.linkedin.com/in/carlos-oca%C3%B1a-p%C3%A9rez-90867920a/"><i
            class="fab fa-linkedin icono"></i></a></p>
  
    </div>
    <div class="col tamaño">
      <img src="../../../assets/About Us/fotoAlbert.JPG" class="fotos" alt="">
      <p class="colorNombre">Alberto Bermejo <a href="https://www.linkedin.com/in/alberto-bermejo-corredor-696a47b8/"><i
            class="fab fa-linkedin icono"></i></a></p>
  
    </div>
    <div class="col tamaño">
      <img src="../../../assets/About Us/fotoManu.jpg" class="fotos" alt="">
      <p class="colorNombre">Manuel Pinto <a href="https://www.linkedin.com/in/manuel-pinto-gomez/"><i class="fab fa-linkedin icono"></i></a>
      </p>
    </div>
  </div>
</div>
