/* .........Boton y Search............ */
.boton-barra-filtros {
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    background: #1b8249;
    border: 2px solid;
    border-color: white;
    position: relative;
    width: 20%;
    height: 80px;
    border-radius: 6px;
    background-color: #ff9100;
  }
  
  .boton-barra-filtros:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease;
  } 
  .boton-barra-filtros:hover:before {
    height: 100%;
  }
  .row .iconos-barra-filtros{
    text-align:end;
  
  }
  .iconos-barra-filtros i{
    cursor:pointer;
    font-size:50px;
    margin-right:3% ;
  }
  .mainLoginInput::-webkit-input-placeholder { 
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: hsl(0, 0%, 0%);
  }

/* .........Filtros y Search............ */
.barra-filtros{
    width: 100%;
    height: 10%
  }
  .input-search-barra{
    margin-left: 5%
  }
  .boton-redondo{
    border-radius: 50%
  }
  /* .........Estados............ */
  .estado-verde-tabla{
    color:yellowgreen;font-size: 30px;margin-left: 7%
  }
.estado-rojo-tabla{
    color:red;font-size: 30px;margin-left: 7%
}
  .iconos-tarjetas{
    margin-left: 7%;  font-size: 30px; cursor: pointer;
  }
/* -----------Modal------------ */
.tarjetas-modal{
  /* background:  linear-gradient( rgba(31, 39, 61, 0.98),rgba(31, 39, 61, 0.95)),url("../../../assets/hormigasLogin.jpg");  */
  background:  rgb(31, 40, 62, 0.90);
}
.modal-content{
  background-color:#ff9100 ;
  border:2px solid white;
  width: 800px;
  height: 680px;
  margin-top: 90px;
  position: relative;
}
.cabecera-input{
  width: 33%; background-color: rgb(31, 40, 62); color:white;margin-top: 15px;height: 40px;
}

.input-modal{
  background-color: rgb(45, 58, 88);color: white;margin-top: 15px; height: 40px;
}
.colocar-boton{
  justify-content: center;
  margin: 3%;
}

