/* .........Boton y Search............ */
.boton-modal{
  height: 40px;
  background-color:  rgb(45, 58, 88);
} 
  .boton-barra-filtros:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease;
  } 
  .boton-barra-filtros:hover:before {
    height: 100%;
  }
  .row .iconos-barra-filtros{
    text-align:end;
  
  }
  .iconos-barra-filtros i{
    cursor:pointer;
    font-size:50px;
    margin-right:3% ;
    text-align: end;
  }
  .iconos-barra-filtros i:hover{
    color:darkturquoise
  }
  .mainLoginInput::-webkit-input-placeholder { 
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: hsl(0, 0%, 0%);
  }

/* .........Filtros y Search............ */
.barra-filtros{
    width: 100%;
    height: 10%;
    justify-content:flex-start;
  }
  .input-search-barra{
    margin-left: 5%
  }
  .boton-redondo{
    border-radius: 50%
  }
  /* .........Estados............ */
  .estado-verde-tabla{
    color:yellowgreen;font-size: 30px;margin-left: 7%
  }
.estado-rojo-tabla{
    color:red;font-size: 30px;margin-left: 7%
}
  .iconos-tarjetas{
    margin-left: 7%;  font-size: 30px; cursor: pointer;
  }
  .sol {
    color: yellow;
  }
  
  .luna {
    color: rgb(64, 75, 224);
  }
  
  .tarde {
    color: #ff9100
  }
  
  .eliminar {
    color: rgb(135, 126, 135);
    margin-left: 10px;
    transition: color .1s;
  }
  .table .fa-times-circle:hover {
    color: red;
    cursor:pointer
  }
  .table .fa-cog:hover {
    color:  rgb(45, 58, 88);
    cursor:pointer
  }
  
  
  .editar {
    color: rgb(135, 126, 135)
  }
  
/* -----------Modal------------ */
.tarjetas-modal{
  /* background:  linear-gradient( rgba(31, 39, 61, 0.98),rgba(31, 39, 61, 0.95)),url("../../../assets/hormigasLogin.jpg");  */
  background:  rgb(31, 40, 62, 0.90);
}
.modal-content{
  background-color:#ff9100 ;
  border:2px solid white;
  width: 800px;
  height: 680px;
  margin-top: 90px;
  position: relative;
}
.cabecera-input{
  width: 33%; background-color: rgb(31, 40, 62); color:white;margin-top: 15px;height: 40px;
}

.input-modal{
  background-color: rgb(45, 58, 88);color: white;margin-top: 15px; height: 40px;
}
.colocar-boton{
  justify-content: center;
  margin: 3%;
}
.colocar-select{
  width: fit-content;
}
.margen1{
  margin-left: 2%;margin-right: -1%;
}
.margen2{
  margin-right: 1%;
}