/* .........Boton y Search............ */
.boton-barra-filtros {
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    background: #1b8249;
    border: 2px solid;
    border-color: #1b8249;
    position: relative;
    width: 20%;
    height: 80px;
    border-radius: 6px;
    background-color: #1b8249;
  }
  
  .boton-barra-filtros:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease;
  } 
  .boton-barra-filtros:hover:before {
    height: 100%;
  }
  .row .iconos-barra-filtros{
    text-align:end;
  
  }
  .iconos-barra-filtros i{
    cursor:pointer;
    font-size:50px;
    margin-right:3% ;
  }
  .mainLoginInput::-webkit-input-placeholder { 
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: hsl(0, 0%, 0%);
  }
  /* -----------Tabla---------------- */
.tamaño-tabla{
    width: 100%; height: 80%
}
.tableContainer{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 1%;
}
.table{
    margin: 5px;
    color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tablaHeader{
    color: #ff9100
}
.trPar{ 
    background-color: rgba(255, 255, 255, 0.15);
}
.form-control{
    font-size: small;
}
/* .........Filtros y Search............ */
.barra-filtros{
    width: 100%;
    height: 10%
  }
  .input-search-barra{
    margin-left: 5%
  }
  .boton-redondo{
    border-radius: 50%
  }
  /* .........Estados............ */
  .estado-verde-tabla{
    color:yellowgreen;font-size: 30px;margin-left: 7%
  }
.estado-rojo-tabla{
    color:red;font-size: 30px;margin-left: 7%
}
  .iconos-tarjetas{
    margin-left: 7%;  font-size: 30px; cursor: pointer;
  }