<div class="row tarjeta-add-empleado">
    <div class="foto">
      <div class="row">
        <img src="../../../assets/tarjetas/logo-rumasa.jpg"
          style="width: 400px;height:365px;margin-top: 12%; margin-left: 10%; border-radius: 16%;" alt="">
      </div>
      <div class="row">
        <button class="boton-barra-filtros pequeño" routerLink="rrhh-add-empleados">Añade una foto</button>
      </div>
      <div class="row grande">
        <button class="boton-barra-filtros" routerLink="/home">Modificar datos</button>
      </div>
    </div>
    <div class="col">
      <form>
  
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Nombre</span>
          <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
            defaultValue=null #titulo>
        </div>
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Dirección</span>
          <input type="text" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
            defaultValue=null #titulo>
        </div>
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Email</span>
          <input type="email" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
            defaultValue=null #titulo>
        </div>
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Teléfono</span>
          <input type="email" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
            defaultValue=null #titulo>
        </div>
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Password</span>
          <input type="password" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
            defaultValue=null #titulo>
        </div>
        
        <div class="input-group flex-nowrap mt-1">
          <span class="input-group-text cabecera-input" id="addon-wrapping">Confirmar Password</span>
          <input type="password" class="form-control input-modal" aria-label="titulo" aria-describedby="addon-wrapping"
            defaultValue=null #titulo>
        </div>
       
      </form>
    </div>
  </div>