.turnoVacio{
    background-color: rgba(0, 128, 0, 0.801);
  }
  
  .turnoMedias{
    background-color: rgba(255, 255, 0, 0.712);
  }
  
  .turnoCompleto{
    background-color: rgba(255, 0, 0, 0.5);
  }

  .tableContainer{
    background: rgba(0,0,0,0.2);
}