<div class="row">
    <div class="calendario col-8">
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
    <div class="col-3">
        <div class="leyenda">
            <div class="tamaño-tabla">
                <div class="tableContainer">
                <table class="table">
                    <thead>
                    <tr class="tablaHeader">
                        <th>Leyenda</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="turnoCompleto">Turno completado</td>
                    </tr>
                    <tr>
                        <td class="turnoMedias">Pendiente rellenar</td>
                    </tr>
                    <tr>
                        <td class="turnoVacio">Turno vacio</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>