 <!-- ----------------------Search y Filtros---------------------------- -->
 <div class="row barra-filtros">
   <div class="col-2">
     <form class="d-flex">
       <input class="form-control me-2 mainLoginInput input-search-barra" type="search" placeholder="&#61442;"
         aria-label="Search">
       <button type="button" class="btn btn-primary btn-sm boton-redondo">Go</button>
     </form>
   </div>
   <div class="col-1">
     <select class="form-select" aria-label="Default select example">
       <option selected>Puesto</option>
       <option value="1">One</option>
       <option value="2">Two</option>
       <option value="3">Three</option>
     </select>
   </div>
   <div class="col-1">
     <select class="form-select" aria-label="Default select example">
       <option selected>Edad</option>
       <option value="1">One</option>
       <option value="2">Two</option>
       <option value="3">Three</option>
     </select>
   </div>
   <div class="tamaño-filtros">
     <select class="form-select" aria-label="Default select example">
       <option selected>Proyecto</option>
       <option value="1">One</option>
       <option value="2">Two</option>
       <option value="3">Three</option>
     </select>
   </div>
   <!-- -------------------- Button e Iconos------------------------------ -->
   <button class="boton-barra-filtros reductor" routerLink="/rrhh-add-empleados">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Nuevo Empleado</button>

   <div class="col iconos-barra-filtros">
    <i class="far fa-address-card" routerLink="/rrhh-empleados"></i>
    <i class="fas fa-table" routerLink="/rrhh-empleados-tabla"></i>
</div>

 </div>
 <!-- ------------------Tarjetas--------------------------------- -->
 <div class="row container-tarjetas">


   <div class="row fila-completa">
     <div class="col-4">
       <div class="card mb-3 shadow tarjetas-fila1">
         <div class="row g-0 img">
           <div class="col-md-4">
             <p class="card-title"><i class="far fa-times-circle iconos-tarjetas eliminar"></i><i
                 class="fas fa-cog iconos-tarjetas editar" routerLink="/rrhh-add-empleados"></i></p>
             <img src="../../../assets/tarjetas/empleado2.jpg" alt="..."
               style="width: 200px;height:250px;margin-top: 10%; margin-left: 20%; border-radius: 50%;" id="imagen">

           </div>
           <div class="col-8">
             <div class="card-body letras-tarjeta">
               <p class="card-title"><b>Nombre:</b> Olivia</p>
               <p class="card-title"><b>Apellido:</b> Artiles</p>
               <p class="card-title"><b>Edad:</b> 28</p>
               <p class="card-title"><b>Puesto:</b> Becaria</p>
               <p class="card-title"><b>Turno:</b><i class="fas fa-adjust iconos-tarjetas tarde"></i><i
                   class="fas fa-moon iconos-tarjetas luna"></i> </p>
               <p class="card-title"><b>Telefono:</b> 679970021</p>
               <p class="card-title"><b>Email:</b> Congeladora@gmail.com</p>
               <p class="card-title"><b>Vacaciones restantes:</b> 21</p>



             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card mb-3 shadow tarjetas-fila1">
         <div class="row g-0 img">
           <div class="col-md-4">
             <p class="card-title"><i class="far fa-times-circle iconos-tarjetas eliminar"></i><i
                 class="fas fa-cog iconos-tarjetas editar" routerLink="/rrhh-add-empleados"></i></p>
             <img src="../../../assets/tarjetas/empleado4.jfif" alt="..."
               style="width: 200px;height:250px;margin-top: 10%; margin-left: 20%; border-radius: 50%;" id="imagen">

           </div>
           <div class="col-8">
             <div class="card-body letras-tarjeta">
               <p class="card-title"><b>Nombre:</b> Genovés</p>
               <p class="card-title"><b>Apellido:</b> García</p>
               <p class="card-title"><b>Edad:</b> 36</p>
               <p class="card-title"><b>Puesto:</b> Encargao</p>
               <p class="card-title"><b>Turno:</b><i class="fas fa-sun iconos-tarjetas sol"></i><i
                   class="fas fa-moon iconos-tarjetas luna"></i> </p>
               <p class="card-title"><b>Telefono:</b> 669502021</p>
               <p class="card-title"><b>Email:</b> Congelador@gmail.com</p>
               <p class="card-title"><b>Vacaciones restantes:</b> 21</p>


             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card mb-3 shadow tarjetas-fila1">
         <div class="row g-0 img">
           <div class="col-md-4">
             <p class="card-title"><i class="far fa-times-circle iconos-tarjetas eliminar"></i><i
                 class="fas fa-cog iconos-tarjetas editar" routerLink="/rrhh-add-empleados"></i></p>
             <img src="../../../assets/tarjetas/empleado3.jfif" alt="..."
               style="width: 200px;height:250px;margin-top: 10%; margin-left: 20%; border-radius: 50%;" id="imagen">

           </div>
           <div class="col-8">
             <div class="card-body letras-tarjeta">
               <p class="card-title"><b>Nombre:</b> Andrea</p>
               <p class="card-title"><b>Apellido:</b> Osorio</p>
               <p class="card-title"><b>Edad:</b> 30</p>
               <p class="card-title"><b>Puesto:</b> Encargada</p>
               <p class="card-title"><b>Turno:</b><i class="fas fa-sun iconos-tarjetas sol"></i><i
                   class="fas fa-adjust iconos-tarjetas tarde"></i> </p>
               <p class="card-title"><b>Telefono:</b> 626504029</p>
               <p class="card-title"><b>Email:</b> Andreitacometelpollo@gmail.com</p>
               <p class="card-title"><b>Vacaciones restantes:</b> 21</p>


             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- -----------------------------------Fila2---------------------------------- -->
   <div class="row fila-completa">
     <div class="col-4">
       <div class="card mb-3 shadow tarjetas-fila1">
         <div class="row g-0 img">
           <div class="col-md-4">
             <p class="card-title"><i class="far fa-times-circle iconos-tarjetas eliminar"></i><i
                 class="fas fa-cog iconos-tarjetas editar" routerLink="/rrhh-add-empleados"></i></p>
             <img src="../../../assets/tarjetas/empleado5.jfif" alt="..."
               style="width: 200px;height:250px;margin-top: 10%; margin-left: 20%; border-radius: 50%;" id="imagen">

           </div>
           <div class="col-8">
             <div class="card-body letras-tarjeta">
               <p class="card-title"><b>Nombre:</b> Bernardo</p>
               <p class="card-title"><b>Apellido:</b> Bustos</p>
               <p class="card-title"><b>Edad:</b> 33</p>
               <p class="card-title"><b>Puesto:</b> Cafetero</p>
               <p class="card-title"><b>Turno:</b><i class="fas fa-sun iconos-tarjetas sol"></i><i
                   class="fas fa-moon iconos-tarjetas luna"></i> <i class="fas fa-adjust iconos-tarjetas tarde"></i></p>
               <p class="card-title"><b>Telefono:</b> 669502021</p>
               <p class="card-title"><b>Email:</b> Cafessss@hotmail.com</p>
               <p class="card-title"><b>Vacaciones restantes:</b> 21</p>



             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card mb-3 shadow tarjetas-fila1">
         <div class="row g-0 img">
           <div class="col-md-4">
             <p class="card-title"><i class="far fa-times-circle iconos-tarjetas eliminar"></i><i
                 class="fas fa-cog iconos-tarjetas editar" routerLink="/rrhh-add-empleados"></i></p>
             <img src="../../../assets/tarjetas/empleado6.jfif" alt="..."
               style="width: 200px;height:250px;margin-top: 10%; margin-left: 20%; border-radius: 50%;" id="imagen">

           </div>
           <div class="col-8">
             <div class="card-body letras-tarjeta">
               <p class="card-title"><b>Nombre:</b> Cristine</p>
               <p class="card-title"><b>Apellido:</b> Alegría</p>
               <p class="card-title"><b>Edad:</b> 36</p>
               <p class="card-title"><b>Puesto:</b> CM</p>
               <p class="card-title"><b>Turno:</b><i class="fas fa-sun iconos-tarjetas sol"></i><i
                   class="fas fa-adjust iconos-tarjetas tarde"></i> </p>
               <p class="card-title"><b>Telefono:</b> 669502021</p>
               <p class="card-title"><b>Email:</b> Mellamocritina@gmail.com</p>
               <p class="card-title"><b>Vacaciones restantes:</b> 21</p>



             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card mb-3 shadow tarjetas-fila1">
         <div class="row g-0 img">
           <div class="col-md-4">
             <p class="card-title"><i class="far fa-times-circle iconos-tarjetas eliminar"></i><i
                 class="fas fa-cog iconos-tarjetas editar" routerLink="/rrhh-add-empleados"></i></p>
             <img src="../../../assets/tarjetas/empleado4.jfif" alt="..."
               style="width: 200px;height:250px;margin-top: 10%; margin-left: 20%; border-radius: 50%;" id="imagen">

           </div>
           <div class="col-8">
             <div class="card-body letras-tarjeta">
               <p class="card-title"><b>Nombre:</b> Aurelio</p>
               <p class="card-title"><b>Apellido:</b> García</p>
               <p class="card-title"><b>Edad:</b> 36</p>
               <p class="card-title"><b>Puesto:</b> RRPP</p>
               <p class="card-title"><b>Turno:</b><i class="fas fa-sun iconos-tarjetas sol"></i><i
                   class="fas fa-moon iconos-tarjetas luna"></i> </p>
               <p class="card-title"><b>Telefono:</b> 669842037</p>
               <p class="card-title"><b>Email:</b> Congelador@gmail.com</p>
               <p class="card-title"><b>Vacaciones restantes:</b> 21</p>



             </div>
           </div>
         </div>
       </div>
     </div>

   </div>
 </div>
