<body>
  

<!-- <div class="container"> -->
  <div class="row" style="justify-content: center;">
    
        <div class="col-3">
          <img src="../../../assets/hormiguero.png" class="imagen-hormiguero" id="imagen">
        </div>
        <div class="tarjeta-login">
           <div class="row">
            <img src="../../../assets/Logo/Logo.png" class="logo-tarjeta">
          </div>
          <br>
          <hr>
          <form class="row" style="justify-content: center;">
            <input class="input-login" type="email" placeholder="Email">
            <input class="input-login margen" type="password" placeholder="Password">
            <button class="boton-login" routerLink="/home">Acceder</button>
          </form>
          <br>
          <hr>
          <p class="alinear">Si eres una empresa y aún no te has registrado</p>
          <p class="alinear register" routerLink="/register">Regístrate</p> 
        </div>

  </div>
<!-- </div> -->
<div class="col about">
    <h5 routerLink="/about-us">Sobre nosotros</h5>
</div>

</body>