body {
  background: linear-gradient(var(--colorFondo), #03246cf7), url("../../../assets/hormigasLogin.jpg") !important;
  height: 100vh;
}

.tarjeta-login {

  border: 1px solid turquoise;
  width: 400px;
  height: 520px;
  border-radius: 6px;
  background-color: white;
  justify-content: center;
  margin-top: 80px;
  color:#03256c;
  text-align: center;
}
.tarjeta-login:hover{
  -webkit-box-shadow: 3px 3px 5px 6px rgba(0,0,0,0.75);  
  -moz-box-shadow:    3px 3px 5px 6px rgba(0,0,0,0.75); 
  box-shadow:         3px 3px 5px 6px rgba(0,0,0,0.75);  
}

.imagen-hormiguero {
  width: 400px;
  height: 520px;
  border-radius: 6px;
  margin-top: 80px;
}

.logo-tarjeta {
  width: max-content;
  height: max-content;
  margin-left: 130px;
  margin-top: 40px;
}

.input-login {
  text-align: center;
  width: min-content;
  align-items: center;
  border-radius: 16px;
  margin-top: 30px;
}

.margen {
  margin-top: 10px;
}

.boton-login {

  border-radius: 6px;
  margin-top: 30px;
  width: 200px;
  justify-content: center;
  
    background: linear-gradient(
      0deg
      ,#03256c 0,#063db3 100%,#03256c);
  
  color: white

}
.boton-login:hover
{
    color: var(--colorPrincipal);
    box-shadow: 0 0 10px #1f283e, 0 0 20px #1f283e, 0 0 40px #1f283e;
    transition-delay: 0.2s;
}

.about {
  text-align: center;
  margin-top: 10%;
  cursor: pointer;
  color: white;
  width: 10%;
  margin-left: 45%;
}
.about:hover
{
    color: var(--colorPrincipal);
    
    text-shadow: 0 0 10px  var(--colorPrincipal), 0 0 20px  var(--colorPrincipal), 0 0 40px  var(--colorPrincipal);
    transition-delay: 0.5s;
}
.alinear{
  text-align: center;
}
.register{
  color: #03256c  ;cursor:pointer
}
.register:hover{
  color: var(--colorPrincipal);

    text-shadow: 0 0 10px #03256c, 0 0 20px #03256c, 0 0 40px #03256c;
    transition-delay: 0.2s;
}
