<div class="container">
  <div class="row cuerpo-login" >
    <div class="col-3">
      <img src="../../../assets/hormiguero.png" style="width: 400px; height: 500px; border-radius: 6px;" id="imagen">
    </div>
    <div class="col-1">
    </div>
    <div class="col-2"
      style="border: 1px solid  #ff9100; width:400px; height: 500px; border-radius: 6px; background-color:  #ff9100;justify-content: center;">
      <div class="row">
        <img src="../../../assets/Logo/Logo.png"
          style="width: max-content; height: max-content; margin-left:130px; margin-top: 40px;">
      </div>
      <br>
      <hr>
      <form class="row" style="justify-content: center;">
        <input type="email" placeholder="Email"
          style="text-align: center; width: min-content; align-items: center;border-radius: 16px; margin-top: 30px;">
        <input type="password" placeholder="Password"
          style="text-align: center;width: min-content; align-items: center; border-radius: 16px; margin-top: 10px;">
        <button
          style="border-radius: 6px; margin-top: 30px; width: 200px;; justify-content: center; background-color: #1f283e ;color:white" routerLink="home">Acceder</button>
      </form>
      <br>
      <hr>
      <p style="text-align: center;">Si eres una empresa y aún no te has registrado</p>
      <p style="text-align: center; color: #1f283e;cursor:pointer" routerLink="register">Regístrate</p>
    </div>
  </div>
</div>
<div class="col" style=" text-align: center;margin-top: 10% ;cursor: pointer; color: #ff9100; width: 10%;margin-left: 45%;">
    <h5 routerLink="about">Sobre nosotros</h5>
</div>